.list {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
}
.address-container {
  padding: 0.5rem;
}
.address-bar {
  background-color: transparent;
  padding-right: 1rem;
}
.location-icon {
  width: 17px;
  height: 27px;
}

.text-1rem {
  font-size: 0.8rem;
  color: black;
  margin-left: 5px;
}

.text-color {
  color: #5e5e5e;
}

.address {
  --padding-start: 10px;
}
