.list {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
}
.address-container {
  padding: 0.5rem;
}
.address-bar {
  background-color: transparent;
  padding-right: 1rem;
}
.location-icon {
  height: 2.2rem;
  width: 1.5rem;
}

.text-1rem {
  font-size: 0.8rem;
  color: black;
}

.text-color {
  color: #5e5e5e;
}
