.list {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
}
.address-container {
  padding: 5px;
}
.address-bar {
  background-color: transparent;
  padding-right: 1rem;
}
.location-icon {
  width: 17px;
  height: 27px;
}

.text-1rem {
  font-size: 0.8rem;
  margin-left: 5px;
}

.address {
  --padding-start: 10px;
}
