<ion-card class="card-container item-border-radius full-width-margin">
  <div style="display: flex">
    <img src="../../../assets/icons/home.png" class="address-home-icon" />
    <div>
      <ion-input
        class="text gray-text input"
        [disabled]="!editPressed"
        value="{{ adresToDisplay.adresBasligi }}"
        (ionChange)="adresBasligi($event)"
      ></ion-input>
      <ion-input
        disabled
        class="title-label black-text no-padding"
        value="{{ adresToDisplay.mahalleAdi }}"
      >
      </ion-input>
    </div>
  </div>
  <hr class="rounded" />

  <div style="padding-left: 3rem">
    <ion-input
      class="text gray-text no-padding"
      [disabled]="!editPressed"
      value="{{ adresToDisplay.teslimAlanAdi }}"
      (ionChange)="teslimAlanAdi($event)"
    ></ion-input>

    <ion-input
      class="text gray-text no-padding"
      [disabled]="!editPressed"
      value="{{ adresToDisplay.teslimAlanTel }}"
      (ionChange)="teslimAlanTel($event)"
    >
    </ion-input>

    <ion-input
      class="text gray-text no-padding"
      [disabled]="!editPressed"
      value="{{ adresToDisplay.adres }}"
      (ionChange)="adres($event)"
    >
    </ion-input>
  </div>

  <div style="display: flex">
    <img src="../../../assets/icons/location_icon.png" class="location-icon" />
    <div style="padding-top: 0.6rem">
      <div>
        <ion-label class="title-label black-text">paylaşılan konum</ion-label>
      </div>
      <ion-label class="text gray-text">{{ "null" }}</ion-label>
    </div>
  </div>
</ion-card>

<div style="text-align: end">
  <ion-button
    *ngIf="!editPressed"
    color="secondary"
    class="crud-button"
    (click)="editClicked()"
  >
    <img src="../../../assets/icons/button/edit.png" class="crud-edit-icon" />

    <ion-label class="white-text lowercase">düzenle</ion-label>
  </ion-button>

  <ion-button
    *ngIf="editPressed"
    class="crud-button"
    color="secondary"
    (click)="updateClicked()"
  >
    <img src="../../../assets/icons/button/edit.png" class="crud-edit-icon" />
    <ion-label class="white-text lowercase">değişiklikleri kaydet</ion-label>
  </ion-button>

  <ion-button
    *ngIf="!editPressed"
    class="crud-button"
    (click)="deleteClicked()"
  >
    <img src="../../../assets/icons/button/delete.png" class="crud-edit-icon" />
    <ion-label class="white-text lowercase">kaldır</ion-label>
  </ion-button>

  <ion-button *ngIf="editPressed" class="crud-button" (click)="editClicked()">
    <img src="../../../assets/icons/button/delete.png" class="crud-edit-icon" />

    <ion-label class="white-text lowercase">vazgeç</ion-label>
  </ion-button>
</div>
