.card-container {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.title-label {
  font-size: 0.8rem;
  font-weight: "bold";
}
.text {
  font-size: 0.7rem;
}
.address-home-icon {
  width: 25px;
  height: 22px;
  margin-top: 15px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.location-icon {
  width: 15px;
  height: 22px;
  margin-top: 15px;
  margin-left: 0.9rem;
  margin-right: 1.3rem;
}
.input {
  --padding-bottom: 0;
  --padding-top: 0.8rem;
}

.no-padding {
  --padding-bottom: 0;
  --padding-top: 0rem;
}

.rounded {
  border-top: 1px solid rgb(34, 33, 33);
  border-radius: 1px;
  opacity: 0.8;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
  width: 85%;
  margin: 0rem 0rem 0rem 2.7rem;
}
