.text-color {
    color: #5e5e5e !important;
    font-family: "Avenir" !important;
}

.black-text {
    color: #424242 !important;
    font-family: "Avenir" !important;
}

.white-text {
    color: white;
    font-family: "Avenir" !important;
}

.pink-color {
    color: rgb(255, 47, 146) !important;
}

.prm-bcg {
    --background: linear-gradient(-45deg, #eb4f2c, #db5757, #da4384, #d336a2);
}

.sec-bcg {
    --background: linear-gradient(-45deg, #ff9300, #ee5f5f);
}

.ter-bcg {
    --background: linear-gradient(-45deg, #ea8ed6, #7a81ff);
}

.white-bg {
    background-color: white !important;
}

.item-white-bg {
    --background: white !important;
}

.white-bg-item {
    --background: white !important;
}