//ION-CHIP IN PROFILE
.ion-chip-label {
  font-size: 0.85rem;
  font-family: "Avenir";
  margin-top: 0.3rem;
  margin-left: 0.6rem;
}

.ion-chip-container {
  width: 97%;
  height: 3rem;
  background-color: whitesmoke;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.chip-profile-icon {
  width: 23px;
  height: 25px;
  margin-right: 7px;
}

.chip-home-icon {
  width: 25px;
  height: 24px;
  margin-right: 5px;
}

.chip-notif-icon {
  width: 21px;
  height: 21px;
  margin-right: 9px;
}

.chip-gift-icon {
  width: 23px;
  height: 26px;
  margin-right: 7px;
}
.chip-phone-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.chip-how-icon {
  width: 19px;
  height: 19px;
  margin-right: 11px;
}

.chip-question-icon {
  width: 19px;
  height: 29px;
  margin-right: 11px;
}

.chip-email-icon {
  width: 21px;
  height: 13px;
  margin-right: 9px;
  margin-top: 5px;
}

.chip-phone-icon-filled {
  width: 21px;
  height: 21px;
  margin-right: 9px;
}
