<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!-- Store Info -->
  <div class="container-padding card-border-radius">
    <div class="relative container card-border-radius">
      <div class="content">
        <ion-icon name="card-sharp" class="icon text-color"></ion-icon>
        <div style="padding-top: 15px">
          <ion-card-subtitle class="card-title text-color"
            >{{ selectedIns.kurum_adi }}</ion-card-subtitle
          >
          <ion-card-title class="card-subtitle text-color">
            {{ selectedInsLocation }}
          </ion-card-title>
        </div>
      </div>

      <div class="min-fee text-color">
        min sipariş tutarı {{ selectedIns.min_siparis_tutari }},00tl
        <br />
        {{selectedIns.min_servis_tutari}},00tl ve üzeri siparişlerde ücretsiz
        servis
      </div>
    </div>
  </div>

  <!--service and discount button-->
  <div class="button-container">
    <div>
      <ion-button
        class="toLowerCase service-select-btn"
        color="secondary"
        (click)="expandServiceOptions()"
      >
        <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
        kategori seçimi
      </ion-button>
      <div *ngIf="showStoreCategoryOptions">
        <div *ngFor="let cat of storeCategories">
          <ion-button
            class="toLowerCase service-select-btn"
            color="secondary"
            (click)="categorySelect(cat)"
          >
            <ion-icon slot="start" name="ellipse-outline"></ion-icon>
            {{itemCategoryName[cat]}}
          </ion-button>
        </div>
      </div>
    </div>

    <ion-button class="text-color" color="medium" style="font-size: 0.7rem">
      <ion-icon
        slot="start"
        name="settings-sharp"
        class="text-color discount-btn"
      ></ion-icon>
      <div class="text-color toLowerCase">kampanyalar</div>
    </ion-button>
  </div>

  <!-- Store list -->
  <div class="store-items-container">
    <ion-searchbar
      (ionChange)="onInput($event)"
      (ionClear)="onCancel()"
      placeholder="ürün ara"
      class="searchbar"
    ></ion-searchbar>

    <div *ngIf="alreadyAddedToCard else default" class="card-padding">
      <ion-item
        button
        lines="none"
        detail="false"
        color="medium"
        class="store-menu-container"
      >
        <app-store-item
          itemName="{{alreadyAddedToCard.cins_adi}}"
          [itemType]="alreadyAddedToCard.secilenTip"
          itemImage="{{alreadyAddedToCard.cins_resmi}}"
          [itemDeliveryDate]="alreadyAddedToCard.teslimatTarihi"
          style="width: 100%"
        ></app-store-item>
      </ion-item>
      <div>
        <app-types
          [itemCost]="alreadyAddedToCard.fiyatlar[alreadyAddedToCard.secilenTip - 1].fiyat"
          [totalCost]="alreadyAddedToCard.fiyatlar[alreadyAddedToCard.secilenTip - 1].fiyat * alreadyAddedToCard.adet"
          [item]="alreadyAddedToCard"
          [standard]="standardDelivery"
          [premium]="premiumDelivery"
          [express]="expressDelivery"
          (cancelled)="cancelSelected(false)"
          (type)="changeTypeOfSelected($event)"
          (amount)="changeAmountOfSelected($event)"
        ></app-types>

        <!--Button to add to card-->
        <div class="btn-padding">
          <ion-button shape="round" expand="block" (click)="updateCard()"
            >sepeti güncelle</ion-button
          >
        </div>
      </div>
    </div>

    <ng-template #default>
      <div *ngFor="let item of storeMenu">
        <!-- selected card item displayed below item-->
        <div
          *ngIf="select === true && !alreadyAddedToCard && searchCategory==0 && searchName.length == 0 else onlyList"
          class="card-padding"
        >
          <ion-item
            button
            lines="none"
            detail="false"
            color="medium"
            class="store-menu-container"
            (click)="selectItem(item)"
          >
            <app-store-item
              itemName="{{item.cins_adi}}"
              [itemType]="item.secilenTip"
              itemImage="{{item.cins_resmi}}"
              [itemDeliveryDate]="item.teslimatTarihi"
              itemCost="{{item.fiyatlar[item.secilenTip-1].fiyat}}"
              style="width: 100%"
            ></app-store-item>
          </ion-item>
          <div *ngIf="selected == item">
            <app-types
              itemCost="{{selected.fiyatlar[selected.secilenTip - 1].fiyat}}"
              [totalCost]="selected.fiyatlar[selected.secilenTip - 1].fiyat * selected.adet"
              [item]="selected"
              [standard]="standardDelivery"
              [premium]="premiumDelivery"
              [express]="expressDelivery"
              (cancelled)="cancelSelected(false)"
              (type)="changeTypeOfSelected($event)"
              (amount)="changeAmountOfSelected($event)"
            ></app-types>

            <!--Button to add to card-->
            <div class="btn-padding">
              <ion-button shape="round" expand="block" (click)="addToCard()"
                >sepete ekle</ion-button
              >
            </div>
          </div>
        </div>

        <ng-template #onlyList>
          <div *ngIf="item.cins_adi.toLowerCase().includes(searchName)">
            <div *ngIf="searchCategory == 0 else catFilter">
              <ion-item
                button
                lines="none"
                detail="false"
                color="medium"
                class="store-menu-container"
                (click)="selectItem(item)"
              >
                <app-store-item
                  itemName="{{item.cins_adi}}"
                  itemImage="{{item.cins_resmi}}"
                  itemCost="{{item.fiyatlar[item.secilenTip-1].fiyat}}"
                  style="width: 100%"
                ></app-store-item>
              </ion-item>
            </div>
            <ng-template #catFilter>
              <div
                *ngIf="item.kategori_id == searchCategory && item.cins_adi.toLowerCase().includes(searchName)"
              >
                <ion-item
                  button
                  lines="none"
                  detail="false"
                  color="medium"
                  class="store-menu-container"
                  (click)="selectItem(item)"
                >
                  <app-store-item
                    itemName="{{item.cins_adi}}"
                    itemImage="{{item.cins_resmi}}"
                    itemCost="{{item.fiyatlar[item.secilenTip-1].fiyat}}"
                    style="width: 100%"
                  ></app-store-item>
                </ion-item>
              </div>
            </ng-template>
            <div *ngIf="selected == item">
              <app-types
                itemCost="{{selected.fiyatlar[selected.secilenTip - 1].fiyat}}"
                [totalCost]="selected.fiyatlar[selected.secilenTip - 1].fiyat * selected.adet"
                [item]="selected"
                [standard]="standardDelivery"
                [premium]="premiumDelivery"
                [express]="expressDelivery"
                (cancelled)="cancelSelected(false)"
                (type)="changeTypeOfSelected($event)"
                (amount)="changeAmountOfSelected($event)"
              ></app-types>

              <!--Button to add to card-->
              <div class="btn-padding">
                <ion-button shape="round" expand="block" (click)="addToCard()"
                  >sepete ekle</ion-button
                >
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</ion-content>
