<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!-- Store Info -->
  <div class="container-padding card-border-radius">
    <div class="relative container card-border-radius">
      <div class="content">
        <ion-icon name="card-sharp" class="icon text-color"></ion-icon>
        <div style="padding-top: 15px">
          <ion-card-subtitle class="card-title text-color"
            >{{ selectedIns.storeName }}</ion-card-subtitle
          >
          <ion-card-title class="card-subtitle text-color">
            {{ selectedIns.location }}
          </ion-card-title>
        </div>
      </div>

      <div class="min-fee text-color">
        min sipariş tutarı {{ selectedIns.minFee }},00tl
        <br />
        {{selectedIns.discountFee}},00tl ve üzeri siparişlerde ücretsiz servis
      </div>
    </div>
  </div>

  <!--service and discount button-->
  <div class="button-container">
    <ion-button class="toLowerCase service-select-btn" color="secondary ">
      <ion-icon slot="start" name="ellipse-outline"></ion-icon>
      <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      çamaşır yıkama
    </ion-button>

    <ion-button class="text-color" color="medium" style="font-size: 0.7rem">
      <ion-icon
        slot="start"
        name="settings-sharp"
        class="text-color discount-btn"
      ></ion-icon>
      <div class="text-color toLowerCase">kampanyalar</div>
    </ion-button>
  </div>

  <!-- Searchbar with cancel button never shown -->
  <ion-item lines="none" class="item-container">
    <ion-label class="gray-text">ürün ara </ion-label>
    <ionic-selectable
      [(ngModel)]="selected"
      [items]="storeItemList"
      itemValueField="kindId"
      itemTextField="kindName"
      [canSearch]="true"
      (onChange)="selectFromSearch($event)"
    >
    </ionic-selectable>
  </ion-item>

  <div *ngIf="select else onlyItemList ">
    <!-- card item -->
    <div class="card-padding">
      <div class="card-container">
        <div class="card-items-content">
          <div class="flex">
            <img
              [src]="selectedItemImage"
              alt="Image Source"
              class="card-icon text-color"
            />
            <div style="padding-top: 0.5rem">
              <ion-card-title class="card-text text-color"
                >{{selected.kindName}}
              </ion-card-title>
            </div>
          </div>
          <div class="card-item-date text-color">
            express teslimat<br />
            29.12.20 Pazartesi 16:30’a kadar teslim edilir
          </div>
        </div>
      </div>
    </div>

    <app-types
      [itemCost]="selected.price"
      [totalCost]="selected.price"
      [cardSize]="1"
      (cancelled)="cancelSelected(false)"
      (type)="changeTypeOfSelected($event)"
    ></app-types>

    <!--Button to add to card-->
    <div class="btn-padding">
      <ion-button shape="round" expand="block" (click)="addToCard()"
        >sepete ekle</ion-button
      >
    </div>

    <!-- -->
    <div class="store-items-container">
      <div *ngFor="let item of storeItemList;index as i">
        <ion-item
          button
          lines="none"
          detail="false"
          color="medium"
          class="store-menu-container"
          (click)="selectItem(item)"
        >
          <app-store-item
            itemName="{{item.kindName}}"
            itemCost="{{item.price}}"
            itemImage="{{item.kindImage}}"
            style="width: 100%"
          ></app-store-item>
        </ion-item>
      </div>
    </div>
  </div>

  <!--Rest of store-->
  <ng-template #onlyItemList class="store-items-container">
    <div *ngFor="let item of storeItemList; index as i">
      <ion-item
        button
        lines="none"
        detail="false"
        color="medium"
        class="store-menu-container"
        (click)="selectItem(item)"
      >
        <app-store-item
          itemName="{{item.kindName}}"
          itemCost="{{item.price}}"
          itemImage="{{item.kindImage}}"
          style="width: 100%"
        ></app-store-item>
      </ion-item>
    </div>
  </ng-template>
</ion-content>
