.container-padding {
  padding: 0.5rem;
}
.card-border-radius {
  border-radius: 20px;
}
.relative {
  position: relative;
}
.container {
  height: 4.5rem;
  background-color: whitesmoke;
  padding: 5;
}
.content {
  display: flex;
}
.icon {
  font-size: 2rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
}
.card-title {
  font-size: 0.7rem;
}
.card-subtitle {
  font-size: 0.6rem;
}
.min-fee {
  text-align: end;
  font-size: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

//service and discount button
.button-container {
  padding-left: 0.5rem;
  justify-content: space-between;
  display: flex;
}
.service-select-btn {
  border-radius: 25px;
  font-size: 0.7rem;
}
.discount-btn {
  padding-right: 0.5rem;
}

.searchbar {
  --border-radius: 20px;
  --background: whitesmoke;
}

.text-color {
  color: #5e5e5e;
  font-family: "Avenir";
}

//add item button
.btn-padding {
  padding: 1rem;
}

.cancel-btn-padding {
  padding: 0rem 1rem 0 1rem;
}

.btn-color {
  color: #e75761;
}

.toLowerCase {
  text-transform: lowercase;
}

.store-items-container {
  padding-bottom: 3rem;
}

.store-menu-container {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}
