//service and discount button
.cat-icon {
  width: 22px;
  height: 22px;
  margin-right: 0.6rem;
}
.button-container {
  justify-content: space-between;
  display: flex;
}
.service-select-btn {
  border-radius: 20px;
  font-size: 0.7rem;
}
.discount-btn {
  padding-right: 0.5rem;
}

.searchbar {
  --border-radius: 10px;
  --background: whitesmoke;
  padding: 0;
}

//add item button
.btn-padding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.store-items-container {
  padding-bottom: 3rem;
}

.store-menu-container {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}
