.input-container {
  padding: 10px;
  border-radius: 20px;
}
.label {
  padding-left: 12vw;
}

.card-icon {
  position: absolute;
  top: 3vh;
  font-size: 30px;
}

.btn {
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 10px;
}

.btn-icons {
  font-size: 20px;
  color: #e75761;
}

.button-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
}
