.input-container {
  padding: 0.5rem;
  border-radius: 20px;
}
.label {
  padding-left: 3rem;
}

.card-icon {
  position: absolute;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.toLowerCase {
  text-transform: lowercase;
}

.sign-in-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.sign-options {
  padding-left: 0.4rem;
  padding-top: 1rem;
  font-size: 0.6rem;
  flex: 1;
}
.sign-btn {
  width: 9rem;
  border-radius: 10px;
  box-shadow: 1px 2px #5e5e5e;
}

.button-padding {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}

.list {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 20px;
}
.input-container {
  padding: 0.5rem;
}

.email-icon {
  width: 2rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.icon {
  width: 1.4rem;
  height: 1.8rem;
  margin-right: 1rem;
  margin-left: 0.4rem;
  margin-top: 0.2rem;
}

.google-fb-icon {
  width: 2rem;
  height: 2rem;
}
.text-1rem {
  font-size: 0.8rem;
  color: #5e5e5e;
}

.error-message {
  color: #5e5e5e;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 10px;
}
