<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="input-container" style="display: block; padding-top: 10vh">
    <ion-item class="text-color">
      <ion-icon name="mail-sharp" class="card-icon icon-clr"></ion-icon>
      <ion-label class="label" position="floating">e-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div class="input-container" style="display: block">
    <ion-item class="text-color">
      <ion-icon name="lock-closed" class="card-icon icon-clr"></ion-icon>
      <ion-label class="label" position="floating">parola</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div class="input-container" style="display: block">
    <ion-item class="text-color">
      <ion-icon name="lock-closed" class="card-icon icon-clr"></ion-icon>
      <ion-label class="label" position="floating">parola tekrar</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div class="button-padding">
    <ion-button (click)="navigateToAccount()" expand="block" class="toLowerCase"
      >yeni hesap oluştur</ion-button
    >
  </div>
  <div class="sign-in-buttons-container">
    <ion-button class="sign-btn" color="light"
      ><ion-icon name="logo-google" class="btn-color"> </ion-icon>
      <p class="sign-options toLowerCase">sign up with google</p>
    </ion-button>
    <ion-button class="sign-btn" color="light"
      ><ion-icon name="logo-facebook" class="btn-color"> </ion-icon>
      <p class="sign-options toLowerCase">sign up with google</p>
    </ion-button>
  </div>
</ion-content>
