.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.full-width {
  width: 100%;
}
.icon {
  font-size: 2rem;
  color: #e75761;
  padding-right: 1rem;
}
.toLowerCase {
  text-transform: lowercase;
}
.message-container {
  display: flex;
  padding-left: 2rem;
}
.text-color {
  color: gray;
}

.black-color {
  color: black;
}
.title {
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}
.message {
  font-size: 0.7rem;
}

.toLowerCase {
  text-transform: lowercase;
}

.button-padding {
  padding: 1rem;
}
.bottom-text-container {
  padding-top: 1rem;
  padding-left: 2rem;
}

.btn-icon {
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

.btn-label {
  font-size: 0.7rem;
  padding-top: 1rem;
  padding-left: 0.2rem;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
