.title-container {
  padding-top: 2rem;
}

.bold-text {
  font-weight: bold;
}
.icon {
  margin-right: 0.5rem;
  width: 2rem;
  height: 0.8rem;
}

.bottom-icon {
  margin-right: 0.7rem;
  width: 2rem;
  height: 2rem;
}
.discount {
  padding: 0.5rem;
}
.card-container {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  --border-radius: 10px;
}
.store-icon {
  font-size: 2rem;
  padding: 0 0 2rem 0;
}
.store-name {
  margin: 0;
  font-size: 0.6rem;
}
.card-right-content {
  text-align: end;
  font-size: 0.6rem;
}
.link {
  font-size: 1rem;
  font-weight: bold;
}
.discount-text {
  font-size: 0.7rem;
}
.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
