<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="root">
    <div class="full-width">
      <ion-item lines="none" color="medium" class="title-container">
        <img
          src="../../../../assets/icon/profil/tüm kampanyalar.png"
          class="icon"
        />
        <ion-label class="text-color bold-text">tüm kampanyalar</ion-label>
      </ion-item>
      <app-discount class="discount"></app-discount>
      <app-discount></app-discount>
    </div>

    <div class="full-width">
      <ion-item lines="none" color="medium" class="title-container">
        <img
          src="../../../../assets/icon/profil/size özel.png"
          class="bottom-icon"
        />
        <ion-label class="text-color bold-text"
          >size özel kampanyalar
        </ion-label>
      </ion-item>
      <ion-item class="card-container">
        <ion-icon name="person" class="store-icon text-color"></ion-icon>
        <ion-label class="store-name">bil wash laundry </ion-label>

        <div class="card-right-content">
          <ion-label class="link">teklife git </ion-label>
          <ion-label>son kullanım tarihi <b>20.02.21</b> </ion-label>
          <ion-label class="discount-text bold-text"
            >10 adet gömlek ütüleme 7 adet fiyatına
          </ion-label>
        </div>
      </ion-item>

      <ion-item class="card-container">
        <ion-icon name="person" class="store-icon text-color"></ion-icon>
        <ion-label class="store-name">abc kuru temizleme </ion-label>

        <div class="card-right-content">
          <ion-label class="link">teklife git </ion-label>
          <ion-label>son kullanım tarihi <b>28.02.21</b> </ion-label>
          <ion-label class="discount-text bold-text"
            >kaban kuru temizleme 15,00 tl
          </ion-label>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>
