<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div *ngFor="let kurum of institutionList">
    <ion-item
      color="medium"
      lines="none"
      button
      (click)="navigateToStore(kurum)"
      detail="false"
    >
      <app-store-card
        [storeName]="kurum.kurum_adi"
        [location]="location"
        [start]="kurum.calisma_saatleri[currentDay].baslangic_saati"
        [end]="kurum.calisma_saatleri[currentDay].bitis_saati"
        [minFee]="kurum.min_siparis_tutari"
      >
      </app-store-card>
    </ion-item>
  </div>
</ion-content>
