<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div *ngFor="let kurum of institutionList">
    <ion-item
      color="medium"
      lines="none"
      button
      (click)="navigateToStore()"
      detail="false"
    >
      <app-store-card
        [storeName]="kurum.institutionName"
        [location]="kurum.neighborhoodName"
        [timeInterval]="kurum.workingHours"
        [minFee]="kurum.minimumOrderPrice"
      >
      </app-store-card>
    </ion-item>
  </div>
</ion-content>
