<app-header headerTitle="{{title}}"></app-header>

<ion-content color="medium">
  <div style="padding-top: 1rem">
    <app-adress-field></app-adress-field>
    <app-date-field calenderTitle="ne zaman alalım"></app-date-field>
  </div>

  <!-- Discount Component-->
  <div class="discount-container">
    <app-discount></app-discount>
    <div style="text-align: end">
      <button style="font-size: 0.7rem">tüm kampanyaları gör</button>
    </div>
  </div>

  <!-- Grid of Services-->
  <ion-row>
    <ion-col>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/camasirYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> çamaşır yıkama</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/terziTadilat.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> terzi tadilat</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/Utuleme.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> ütüleme</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/lostra.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> lostra</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/kuruTemizleme.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> kuru temizleme</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/haliYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> halı yıkama</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- Search Buttons-->
  <div class="select-shop-container">
    <ion-button class="lowerCase" (click)="navigateToStoreList()" expand="block"
      >teslim alma için uygun mağazaları göster</ion-button
    >
  </div>

  <div class="search-container">
    <ion-button
      class="lowerCase"
      color="secondary"
      (click)="navigateToDetailedSearch()"
      >detaylı ara
    </ion-button>
  </div>
</ion-content>
