.container {
  position: relative;
  text-align: center;
  padding: inherit;
}

.discount-container {
  padding-top: 1rem;
}

.all-discounts {
  font-size: 0.7rem;
  margin-top: -0.75rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  width: 100%;
  height: 6rem;
  border-radius: 15px;
}

.icon {
  color: white;
  width: 2rem;
  height: 2rem;
}

.grid-element {
  display: inline-grid;
  justify-items: center;
}

.grid-item {
  padding-top: 2px;
  border-radius: 10px;
  width: 100%;
  --padding-start: 0;
  --inner-padding-end: 0;
}

.grid-label {
  color: white;
  font-size: 12px;
  font-weight: 800;
  margin-top: 0.8rem;
}

.select-shop-container {
  padding-top: 2rem;
}

.search-container {
  padding-top: 2px;
}

//icon sizes
.laundry-icon {
  width: 24px;
  height: 24px;
}

.hanger {
  width: 31px;
  height: 18px;
}

.shirt {
  width: 31px;
  height: 28px;
}

.terzi {
  width: 30px;
  height: 28px;
}

.shoe {
  width: 35px;
  height: 19px;
}

.hali {
  width: 28px;
  height: 26px;
}
