<app-header headerTitle="mağaza arayın"></app-header>

<ion-content color="medium">
  <!-- Address and Date -->
  <div style="padding-top: 1rem">
    <div *ngIf="!isLogged; else logged">
      <app-city-district-picker
        (selectedSemt)="adjustSelectedDistrict($event)"
      ></app-city-district-picker>
    </div>
    <ng-template #logged>
      <app-adress-field (address)="addressChange($event)"></app-adress-field>
    </ng-template>

    <app-date-field
      calenderTitle="ne zaman alalım"
      (selectedDate)="dateChange($event)"
      (selectedTime)="timeChange($event)"
    ></app-date-field>
  </div>

  <!-- Discount Component-->
  <div class="discount-container full-width-padding">
    <app-discount></app-discount>
    <div style="text-align: end">
      <ion-button
        fill="clear"
        (click)="navigateToDiscount()"
        class="all-discounts lowercase black-text"
      >
        tüm kampanyaları gör
      </ion-button>
    </div>
  </div>

  <!-- Grid of Services-->
  <ion-row>
    <ion-col>
      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="laundry()"
      >
        <div class="container">
          <img src="../../assets/images/camasirYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected1 else selected1">
                <img
                  src="../../../assets/icons/category/1.png"
                  class="laundry-icon"
                />

                <ion-label class="grid-label white-color">
                  çamaşır yıkama</ion-label
                >
              </div>
              <ng-template #selected1>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon white-color"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="terziTadilat()"
      >
        <div class="container">
          <img src="../../assets/images/terziTadilat.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected6 else selected6">
                <img src="../../../assets/icons/category/6.png" class="terzi" />
                <ion-label class="grid-label white-color">
                  terzi tadilat</ion-label
                >
              </div>
              <ng-template #selected6>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon white-color"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="iron()"
      >
        <div class="container">
          <img src="../../assets/images/Utuleme.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected2 else selected2">
                <img
                  src="../../../assets/icons/category/2.png"
                  class="hanger"
                />
                <ion-label class="grid-label white-color"> ütüleme</ion-label>
              </div>
              <ng-template #selected2>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon white-color"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="lostra()"
      >
        <div class="container">
          <img src="../../assets/images/lostra.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected7 else selected7">
                <img src="../../../assets/icons/category/7.png" class="shoe" />
                <ion-label class="grid-label white-color"> lostra</ion-label>
              </div>
              <ng-template #selected7>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon white-color"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="dryClean()"
      >
        <div class="container">
          <img src="../../assets/images/kuruTemizleme.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected3 else selected3">
                <img src="../../../assets/icons/category/3.png" class="shirt" />
                <ion-label class="grid-label white-color">
                  kuru temizleme</ion-label
                >
              </div>
              <ng-template #selected3>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon white-color"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="haliYikama()"
      >
        <div class="container">
          <img src="/assets/images/haliYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected5 else selected5">
                <img src="../../../assets/icons/category/5.png" class="hali" />
                <ion-label class="grid-label white-color">
                  halı yıkama</ion-label
                >
              </div>
              <ng-template #selected5>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon white-color"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Search Buttons-->
  <div class="select-shop-container">
    <ion-button
      class="ion-button-block"
      [disabled]="(!selectedDistrict && !selectedAddress) || selectedServices.length<1"
      (click)="navigateToStoreList()"
      expand="block"
      >teslim alma için uygun mağazaları göster</ion-button
    >
  </div>

  <div class="search-container">
    <ion-button
      fill="outline"
      class="ion-button-block pink-color"
      expand="block"
      (click)="navigateToDetailedSearch()"
      >detaylı ara
    </ion-button>
  </div>
</ion-content>
