<app-header headerTitle="{{title}}"></app-header>

<ion-content color="medium">
  <!-- Address and Date -->
  <div style="padding-top: 1rem">
    <div *ngIf="!isLogged; else logged">
      <ion-item lines="none" class="item-container">
        <ion-label class="gray-text">il</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedProvince"
          [items]="provinceList"
          itemValueField="id"
          itemTextField="adi"
          [canSearch]="true"
          (onChange)="provinceChange($event)"
        >
        </ionic-selectable>
      </ion-item>

      <ion-item lines="none" class="item-container">
        <ion-label class="gray-text">ilçe</ion-label>
        <ionic-selectable
          [(ngModel)]="selectedDistrict"
          [items]="searchableDistrictList"
          itemValueField="mahalleId"
          itemTextField="listeAdi"
          [canSearch]="true"
          [hasVirtualScroll]="true"
          (onChange)="districtChange($event)"
        >
        </ionic-selectable>
      </ion-item>
    </div>
    <ng-template #logged>
      <app-adress-field (address)="addressChange($event)"></app-adress-field>
    </ng-template>

    <app-date-field
      calenderTitle="ne zaman alalım"
      (selectedDate)="dateChange($event)"
      (selectedTime)="timeChange($event)"
    ></app-date-field>
  </div>

  <!-- Discount Component-->
  <div class="discount-container">
    <app-discount></app-discount>
    <div style="text-align: end">
      <button (click)="navigateToDiscount()" style="font-size: 0.7rem">
        tüm kampanyaları gör
      </button>
    </div>
  </div>

  <!-- Grid of Services-->
  <ion-row>
    <ion-col>
      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="laundry()"
      >
        <div class="container">
          <img src="../../assets/images/camasirYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected1 else selected1">
                <img
                  src="../../../assets/create-order/camasir_yikama_icon.png"
                  class="icon"
                />

                <ion-label class="grid-label"> çamaşır yıkama</ion-label>
              </div>
              <ng-template #selected1>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="terziTadilat()"
      >
        <div class="container">
          <img src="../../assets/images/terziTadilat.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected6 else selected6">
                <img
                  src="../../../assets/create-order/terzi_icon.png"
                  class="icon"
                />
                <ion-label class="grid-label"> terzi tadilat</ion-label>
              </div>
              <ng-template #selected6>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="iron()"
      >
        <div class="container">
          <img src="../../assets/images/Utuleme.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected2 else selected2">
                <img
                  src="../../../assets/create-order/utuleme_icon.png"
                  class="icon"
                />
                <ion-label class="grid-label"> ütüleme</ion-label>
              </div>
              <ng-template #selected2>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="lostra()"
      >
        <div class="container">
          <img src="../../assets/images/lostra.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected7 else selected7">
                <img
                  src="../../../assets/create-order/lostra_icon.png"
                  class="icon"
                />
                <ion-label class="grid-label"> lostra</ion-label>
              </div>
              <ng-template #selected7>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="dryClean()"
      >
        <div class="container">
          <img src="../../assets/images/kuruTemizleme.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected3 else selected3">
                <img
                  src="../../../assets/create-order/kuru_temizleme_icon.png"
                  class="icon"
                />
                <ion-label class="grid-label"> kuru temizleme</ion-label>
              </div>
              <ng-template #selected3>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>

      <ion-item
        color="medium"
        button
        lines="none"
        detail="false"
        class="grid-item"
        (click)="haliYikama()"
      >
        <div class="container">
          <img src="../../assets/images/haliYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <div *ngIf="!isSelected5 else selected5">
                <img
                  src="../../../assets/create-order/hali_icon.png"
                  class="icon"
                />
                <ion-label class="grid-label"> halı yıkama</ion-label>
              </div>
              <ng-template #selected5>
                <ion-icon
                  name="checkmark-done-circle-outline"
                  class="icon"
                ></ion-icon>
              </ng-template>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Search Buttons-->
  <div class="select-shop-container">
    <ion-button
      class="lowerCase"
      [disabled]="(!selectedDistrict && !selectedAddress) || selectedServices.length<1"
      (click)="navigateToStoreList()"
      expand="block"
      >teslim alma için uygun mağazaları göster</ion-button
    >
  </div>

  <div class="search-container">
    <ion-button
      class="lowerCase"
      color="secondary"
      (click)="navigateToDetailedSearch()"
      >detaylı ara
    </ion-button>
  </div>
</ion-content>
