.container-padding {
  padding-top: 1.4rem;
  padding-bottom: 0.5rem;
}

.container {
  height: 4rem;
  width: 90vw;
  background-color: whitesmoke;
  padding: 5;
  box-shadow: 2px 2px #b9bed1;
}
.card-border-radius {
  border-radius: 20px;
}
.content {
  display: flex;
}
.icon {
  font-size: 1.5rem;
  padding-top: 1.3rem;
  padding-right: 0.5rem;
}
.card-title {
  font-size: 0.6rem;
  text-align: center;
}
.card-subtitle {
  font-size: 0.6rem;
}

.child {
  height: 6.5rem;
}

.absolute {
  position: absolute;
  bottom: 0;
  right: -3vw;
}

.relative {
  position: relative;
}
.min-fee {
  text-align: end;
  font-size: 0.6rem;
  position: absolute;
  right: 3vh;
  bottom: 0.3rem;
}

.text-color {
  color: #5e5e5e;
}
