.container-padding {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.container {
  height: 3rem;
  width: 96vw;
  background-color: whitesmoke;
  padding: 5px;
  box-shadow: 2px 5px #b9bed1;
}

.content {
  display: flex;
}
.icon {
  font-size: 1.8rem;
  padding-top: 0.4rem;
  padding-right: 0.5rem;
}
.card-title {
  font-size: 0.6rem;
}
.card-subtitle {
  font-size: 0.6rem;
}
.child {
  height: 5rem;
}
.absolute {
  position: absolute;
  bottom: 0;
  right: 0rem;
  height: 5.8rem;
}
.relative {
  position: relative;
}
.min-fee {
  text-align: end;
  font-size: 0.6rem;
  position: absolute;
  right: 1rem;
  bottom: 0.3rem;
}
.child-card-title {
  font-size: 0.8rem;
  text-align: center;
}
.child-card-subtitle {
  font-size: 0.5rem;
  text-align: center;
}
.fav-icon {
  width: 1.5rem;
  height: 2rem;
  margin-left: 0.7rem;
}
