.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.container {
  width: 95%;
  height: 3rem;
  background-color: whitesmoke;
  margin: 1.3rem 0.5rem 0 0.5rem;
  justify-content: space-between;
}

.label {
  font-size: 0.8rem;
  padding-top: 0.4rem;
  margin-left: 0.7rem;
}

.contact-us-container {
  display: flex;
  justify-content: space-around;
}

.bold-text {
  font-weight: bold;
}

.button-padding {
  margin: 0rem 0.5rem 1.3rem 0.5rem;
}
.bottom-container {
  width: 100%;
}

.icon-padding {
  margin-left: 5px;
}

.profile-icon {
  width: 23px;
  height: 25px;
  margin-right: 7px;
}

.home-icon {
  width: 25px;
  height: 24px;
  margin-right: 5px;
}

.notif-icon {
  width: 21px;
  height: 21px;
  margin-right: 9px;
}

.gift-icon {
  width: 23px;
  height: 26px;
  margin-right: 7px;
}
.phone-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
