.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.label {
  font-size: 0.8rem;
  padding-top: 0.4rem;
  margin-left: 0.7rem;
}

.contact-us-container {
  display: flex;
  justify-content: space-between;
}

.button-padding {
  margin-bottom: 2rem;
}

.chip-bg {
  --background: #ebeaf0;
}
