<app-header headerTitle="profil"></app-header>
<ion-content color="medium">
  <div class="root">
    <div>
      <ion-chip class="ion-chip-container" (click)="navigateToAccountInfo()">
        <div style="display: flex">
          <img
            src="../../../../assets/icons/profil/profil_icon.png"
            class="chip-profile-icon"
          />
          <ion-label class="ion-chip-label text-color bold-text"
            >hesap bilgilerim</ion-label
          >
        </div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </ion-chip>

      <ion-chip class="ion-chip-container" (click)="navigateToAddressList()">
        <div style="display: flex">
          <img src="../../../../assets/icons/home.png" class="chip-home-icon" />
          <ion-label class="ion-chip-label text-color bold-text"
            >adreslerim</ion-label
          >
        </div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </ion-chip>

      <ion-chip class="ion-chip-container" (click)="navigateToNotifications()">
        <div style="display: flex">
          <img
            src="../../../../assets/icons/profil/bildirim.png"
            class="chip-notif-icon"
          />

          <ion-label class="ion-chip-label text-color bold-text"
            >bildirim ayarları</ion-label
          >
        </div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </ion-chip>

      <ion-chip class="ion-chip-container" (click)="navigateToDiscountList()">
        <div style="display: flex">
          <img
            src="../../../../assets/icons/profil/gift.png"
            class="chip-gift-icon"
          />
          <ion-label class="ion-chip-label text-color bold-text"
            >kampanyalar</ion-label
          >
        </div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </ion-chip>

      <ion-chip (click)="navigateToContact()" class="ion-chip-container">
        <div style="display: flex">
          <img
            src="../../../../assets/icons/profil/bize-ulasin.png"
            class="chip-phone-icon"
          />
          <ion-label class="label text-color bold-text">bize ulaşın</ion-label>
        </div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </ion-chip>
    </div>
    <div class="full-width">
      <div class="contact-us-container">
        <ion-chip class="chip-bg">
          <ion-label class="label bold-text black-text"
            >nasıl çalışıyoruz?</ion-label
          >
        </ion-chip>

        <ion-chip class="chip-bg">
          <ion-label class="label bold-text black-text"
            >kullanıcı sözleşmesi</ion-label
          >
        </ion-chip>
      </div>

      <div class="button-padding">
        <ion-button
          (click)="navigateToLogin()"
          expand="block"
          class="ion-button-block"
          >çıkış yap</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
