.icon {
  font-size: 2rem;
  color: #e75761;
  padding-right: 1rem;
}

.message-container {
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
}
.black-color {
  color: black;
}
.title {
  font-weight: bold;
  font-size: 0.8rem;
}
.message {
  font-size: 0.7rem;
}
.button-padding {
  padding: 1rem;
  padding-top: 35vh;
}
.thank {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 3rem;
}
