<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="card">
      <img src="../../assets/icon/sepet_icon.png" class="icon" />
      <ion-label class="gray">sepet</ion-label>
    </ion-tab-button>

    <ion-tab-button color="primary" tab="orders">
      <img src="../../assets/icon/calendar_icon.png" class="icon" />
      <ion-label class="gray">siparişler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-order">
      <img src="../../assets/icon/yeni_siparis_filled.png" class="icon" />
      <ion-label class="gray">yeni sipariş</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <img src="../../assets/icon/yardım_icon.png" class="icon" />
      <ion-label class="gray">yardım</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <img src="../../assets/icon/profil_icon.png" class="icon" />
      <ion-label class="gray">profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
