<ion-tabs class="medium-bg">
    <ion-tab-bar slot="bottom" color="medium" class="border-margin">
        <ion-tab-button tab="card">
            <img src="../../assets/icons/sepet_icon.png" class="sepet-icon" />
            <ion-label class="gray text-color">sepet</ion-label>
        </ion-tab-button>

        <ion-tab-button color="primary" tab="orders">
            <img src="../../assets/icons/calendar_icon.png" class="siparis-icon" />
            <ion-label class="gray text-color">siparişler</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="yeni-siparis">
            <img src="./assets/icons/filled/yeni_siparis_filled.png" class="yeni-icon" />
            <ion-label class="gray text-color">yeni sipariş</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="help">
            <img src="../../assets/icons/profil/yardim_icon.png" class="yardim-icon" />
            <ion-label class="gray text-color">yardım</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <img src="../../assets/icons/profil/profil_icon.png" class="profil-icon" />
            <ion-label class="gray text-color">profil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>