.sepet-icon {
  width: 20px;
  height: 20px;
}

.yeni-icon {
  width: 23px;
  height: 23px;
}

.profil-icon {
  width: 19px;
  height: 19px;
}

.medium-bg {
  background-color: #ebeaf0;
}

.border-margin {
  margin-bottom: 0.5rem;
  --border: none;
}

.badge {
  position: absolute;
  top: 0px;
  z-index: 9;
  width: 1rem;
  height: 1rem;
  left: 58%;
  transform: translateX(-58%);
  border-radius: 20px;
}
