<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="card">
      <ion-icon class="gray" name="basket-outline"></ion-icon>
      <ion-label>sepet</ion-label>
    </ion-tab-button>

    <ion-tab-button color="primary" tab="orders">
      <ion-icon class="gray" name="calendar-outline"></ion-icon>
      <ion-label>siparişler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-order">
      <ion-icon class="gray" name="add-circle"></ion-icon>
      <ion-label>yeni sipariş</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon class="gray" name="aperture-outline"></ion-icon>
      <ion-label>yardım</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon class="gray" name="person"></ion-icon>
      <ion-label>profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
