.sepet-icon {
    width: 20px;
    height: 20px;
}

.yeni-icon {
    width: 23px;
    height: 23px;
}

.profil-icon {
    width: 19px;
    height: 19px;
}

.medium-bg {
    background-color: #ebeaf0;
}

.border-margin {
    margin-bottom: 0.5rem;
    --border: none
}