.gray {
    color: #5e5e5e;
    font-size: 0.6rem;
}

.sepet-icon {
    width: 20px;
    height: 20px;
}

.siparis-icon {
    width: 20px;
    height: 23px;
}

.yeni-icon {
    width: 23px;
    height: 23px;
}

.yardim-icon {
    width: 20px;
    height: 20px;
}

.profil-icon {
    width: 19px;
    height: 19px;
}