.icon {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    margin-top: 0.2rem;
}

.message-container {
    display: flex;
    padding-top: 5vh;
    padding-left: 10vw;
}

.margin-top {
    margin-top: 1.5rem;
}

.btn-margin {
    margin-top: 5rem;
}

.home-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}