<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="root">
    <div>
      <div class="message-container">
        <div class="black-color title">gittiğinize üzüldük</div>
        <div class="text-color message">
          hesabınızı silme nedeninizi bize söyleme ister
          <br />misiniz ?
        </div>
      </div>

      <div>
        <ion-item color="medium" lines="none" class="checkbox-label">
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-item lines="none" class="inner-item">
            <ion-label class="black-color"
              >başka bir platform kullanıyorum</ion-label
            >
          </ion-item>
        </ion-item>

        <ion-item color="medium" lines="none" class="checkbox-label">
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-item lines="none" class="inner-item">
            <ion-label class="black-color">ihtiyacım yok</ion-label>
          </ion-item>
        </ion-item>

        <ion-item color="medium" lines="none" class="checkbox-label">
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-item lines="none" class="inner-item">
            <ion-label class="black-color">sorun yaşadım</ion-label>
          </ion-item>
        </ion-item>

        <ion-item color="medium" lines="none" class="checkbox-label">
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-item lines="none" class="inner-item">
            <ion-label class="black-color">diğer</ion-label>
          </ion-item>
        </ion-item>

        <ion-item lines="none" class="text-area">
          <ion-textarea
            rows="4"
            placeholder="ayrılma sebebinizi bize yazarsanız seviniriz..."
          ></ion-textarea>
        </ion-item>
      </div>
    </div>

    <div class="btn-padding">
      <div class="text-color message message-container">
        hesabınızı silerseniz daha önceki siparişleriniz, <br />
        tercihleriniz, tüm bilgileriniz ve tanımlı <br />
        promosyonlarınız silinecektir. her hangi sorun <br />
        yaşıyorsanız bize buradan ulaşabilirsiniz. <br />
      </div>
      <ion-button (click)="navigateToLogin()" expand="block"
        >hesabımı sil</ion-button
      >
    </div>
  </div>
</ion-content>
