.root {
  height: 100%;
  display: grid;
  flex-wrap: wrap;
  align-content: space-between;
}
.message-container {
  padding: 2rem 0rem 2rem 3rem;
}

.black-color {
  color: black;
}
.title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 1vh;
}
.message {
  font-size: 0.7rem;
}
.checkbox-label {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  --border-radius: 10px;
  font-size: 0.8rem;
}
.btn-padding {
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inner-item {
  border-radius: 15px;
  font-size: 0.9rem;
  width: 100%;
}

.text-area {
  --border-radius: 20px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem 0rem 4.5rem;
}
