.text-1rem {
  font-size: 0.8rem;
}
.item-group {
  display: flex;
  justify-content: space-between;
}
.date-container {
  padding-top: 0.7rem;
}
.border-radius {
  border-radius: 10px;
}

.date-item {
  --padding-start: 0;
  width: 13rem;
}

.time-item {
  --padding-start: 0;
  width: 8rem;
}

.date-icon {
  width: 25px;
  height: 28px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.time-icon {
  width: 27x;
  height: 27px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
