.primary-color {
  color: #e75761;
}
.text-1rem {
  font-size: 0.8rem;
  color: black;
}
.date-container {
  padding-top: 1rem;
  padding-left: 1rem;
}
.date-content {
  display: flex;
  justify-content: space-around;
}
.date-icon {
  font-size: 2rem;
  padding-top: 2rem;
}

.border-radius {
  border-radius: 20px;
}
