.text-1rem {
  font-size: 0.8rem;
  margin-left: 1rem;
}
.item-group {
  display: flex;
  justify-content: space-between;
}
.date-container {
  padding-top: 0.7rem;
}
.border-radius {
  border-radius: 10px;
}

.date-item {
  --padding-start: 0;
  width: 13rem;
}

.time-item {
  --padding-start: 0;
  width: 8rem;
}

.selected-label {
  padding: 0;
  font-size: 0.8rem;
  margin-left: 1rem;
}
