.icon {
  font-size: 30px;
  color: #e75761;
  padding-right: 3vw;
}

.message-container {
  display: flex;
  padding-top: 5vh;
  padding-left: 10vw;
}

.black-color {
  color: black;
}
.title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 1vh;
}
.message {
  font-size: 14px;
}
.button-padding {
  padding: 20px;
  padding-top: 7vh;
}
