<div class="card-container-border-radius">
  <div class="card-items-content">
    <div class="flex">
      <ion-icon name="shirt" class="card-icon text-color"></ion-icon>
      <div style="padding-top: 15px">
        <ion-card-title class="card-text text-color">{{
          itemName
        }}</ion-card-title>
      </div>
    </div>
    <div>
      <div class="cost">{{ itemCost }}</div>
    </div>
  </div>
  <ion-card-subtitle class="card-text text-color">
    {{ deliveryDate }} a kadar teslim edilir
  </ion-card-subtitle>
</div>
