.card-text {
  text-align: start;
  font-size: 0.5rem;
  color: black;
}
.card-icon {
  font-size: 2rem;
  padding-top: 5px;
  padding-right: 0.5rem;
}
.card-container-border-radius {
  border-radius: 20px;
}
.card-items-content {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.cost {
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  font-size: 1.2rem;
  color: #eb4691;
  font-weight: bold;
}
.text-color {
  color: #000;
}

.type-color {
  color: #eb4691;
}

.toLowerCase {
  text-transform: lowercase;
}
