<!--If delivery date is given, this component represents current order-->
<div *ngIf="!oldOrder; else oldOrderType" class="card-container-border-radius">
  <div class="card-items-content">
    <div class="flex">
      <div *ngIf="itemIcon">
        <img [src]="itemIcon" alt="Image Source" class="card-icon text-color" />
      </div>

      <div style="padding-top: 1.5rem">
        <ion-card-title class="card-text text-color">{{
          amount + " adet " + itemName
        }}</ion-card-title>
      </div>
    </div>
    <div>
      <div class="cost">{{ itemCost | fiyat: itemCost }}</div>
    </div>
  </div>
  <div>
    <ion-card-subtitle class="card-text text-color lowercase">
      <div style="display: flex">
        <div class="type-color">{{ typeNames[type] }} &nbsp;</div>
        <div>
          teslimat {{ deliveryDate | date: "d.M.yy EEEE HH:mm":"":"tr" }} a
          kadar teslim edilir
        </div>
      </div>
    </ion-card-subtitle>
  </div>
</div>

<!--If delivery date is not given, this component represents an old order-->
<ng-template #oldOrderType>
  <div class="card-items-content">
    <div class="flex">
      <div *ngIf="itemIcon">
        <img [src]="itemIcon" alt="Image Source" class="card-icon text-color" />
      </div>
      <div style="padding-top: 1.5rem">
        <ion-card-title class="card-text text-color">{{
          itemName
        }}</ion-card-title>
      </div>
    </div>
    <div class="old-order-type">{{ type }} &nbsp;</div>
    <div class="cost">{{ itemCost | fiyat: itemCost }}</div>
  </div>
</ng-template>
