.card-text {
  text-align: start;
  font-size: 0.5rem;
}
.card-icon {
  width: 3rem;
  height: 2.6rem;
  padding-top: 0.2rem;
  padding-right: 0.4rem;
}
.card-container-border-radius {
  border-radius: 10px;
}
.card-items-content {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.cost {
  margin-top: 0.5rem;
  margin-right: 0.2rem;
  font-size: 1.2rem;
  color: #eb4691;
}

.type-color {
  color: #eb4691;
}

.old-order-type {
  font-size: 0.6rem;
  margin-top: 0.9rem;
}
