.card-text {
  text-align: start;
  font-size: 9px;
  color: black;
}
.card-icon {
  font-size: 30px;
  padding-top: 5px;
  padding-right: 10px;
}
.card-container-border-radius {
  border-radius: 20px;
}
.card-items-content {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.cost {
  padding-top: 10px;
  font-size: 20px;
  color: #eb4691;
  font-weight: bold;
}
.text-color {
  color: #000;
}
