//amount container
.amount-container {
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.amount-icons {
  font-size: 1.5rem;
  color: #eb4691;
}

.cost {
  font-size: 1.3rem;
  color: #eb4691;
  font-weight: bold;
}
.amount-text {
  padding: 0.9rem 0.2rem 0 0.2rem;
  font-size: 0.7rem;
}
.plus-minus-btn {
  --padding-end: 0rem;
  --padding-start: 0;
  --padding-bottom: 0;
}

//Services card
.service-card-container {
  background-color: whitesmoke;
  border-radius: 20px;
}
.card-content {
  display: flex;
  justify-content: space-between;
}
.fee {
  font-size: 0.7rem;
  padding-top: 1.2rem;
  padding-left: 0.5rem;
}
.card-date {
  font-size: 0.5rem;
  text-align: end;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.col-padding {
  padding-left: 0.5rem;
}

.check-btn {
  --padding-end: 0.5rem;
  --padding-start: 0;
  --padding-bottom: 0;
  margin-top: -0.5rem;
}

.text-color {
  color: #5e5e5e;
  font-family: "Avenir";
}

.selected {
  color: #eb4691;
}
