<!-- amount controller -->
<div style="padding: 10px">
  <div class="amount-container">
    <div style="display: flex">
      <div *ngIf="item.adet > 1; else noMinus">
        <ion-button
          fill="clear"
          shape="round"
          class="plus-minus-btn"
          (click)="minus()"
        >
          <img src="../../../assets/icon/minus.png" class="amount-minus" />
        </ion-button>
      </div>
      <ng-template #noMinus>
        <ion-button
          fill="clear"
          shape="round"
          class="plus-minus-btn"
          (click)="removeFromCard()"
        >
          <img src="../../../assets/icon/minus.png" class="amount-minus" />
        </ion-button>
      </ng-template>

      <ion-label class="amount-text text-color">{{ item.adet }} Adet</ion-label>
      <ion-button
        fill="clear"
        shape="round"
        class="plus-minus-btn"
        (click)="plus()"
      >
        <img src="../../../assets/icon/ekle.png" class="amount-icons" />
      </ion-button>
    </div>
    <div class="cost" style="padding-right: 1rem">
      {{ totalCost | fiyat: totalCost }}
    </div>
  </div>
</div>

<ion-row>
  <ion-col class="col-padding">
    <ion-item
      button
      lines="none"
      detail="false"
      (click)="selectType(1)"
      class="service-card"
    >
      <div style="width: 100%">
        <div class="card-content">
          <div class="text-color fee">
            {{ item.fiyatlar[0].fiyat | fiyat: item.fiyatlar[0].fiyat }}
            <br /><b> standart </b>
          </div>
          <div *ngIf="selectedType != 1; else selected">
            <img
              src="../../../assets/icon/deactive.png"
              class="check-btn active-img"
            />
          </div>
          <ng-template #selected>
            <img
              src="../../../assets/icon/active.png"
              class="check-btn active-img"
            />
          </ng-template>
        </div>

        <div class="card-date text-color">
          {{ standard | date: "dd.MM.yy" }}
          <br />
          {{ standard | date: "EEEE":"":"tr" }} {{ standard | date: "HH:mm" }}
        </div>
      </div>
    </ion-item>
  </ion-col>

  <ion-col class="col-padding">
    <ion-item
      button
      lines="none"
      detail="false"
      (click)="selectType(2)"
      class="service-card"
    >
      <div style="width: 100%">
        <div class="card-content">
          <div class="text-color fee">
            {{ expressCost | fiyat: expressCost }} <br /><b> express </b>
          </div>
          <div *ngIf="selectedType != 2; else selected">
            <img
              src="../../../assets/icon/deactive.png"
              class="check-btn active-img"
            />
          </div>
          <ng-template #selected>
            <img
              src="../../../assets/icon/active.png"
              class="check-btn active-img"
            />
          </ng-template>
        </div>

        <div class="card-date text-color">
          {{ express | date: "dd.MM.yy" }}
          <br />
          {{ express | date: "EEEE":"":"tr" }} {{ express | date: "HH:mm" }}
        </div>
      </div>
    </ion-item>
  </ion-col>

  <ion-col class="col-padding">
    <ion-item
      button
      lines="none"
      detail="false"
      (click)="selectType(3)"
      class="service-card"
    >
      <div style="width: 100%">
        <div class="card-content">
          <div class="text-color fee">
            {{ premiumCost | fiyat: premiumCost }} <br /><b> premium </b>
          </div>
          <div *ngIf="selectedType != 3; else selected">
            <img
              src="../../../assets/icon/deactive.png"
              class="check-btn active-img"
            />
          </div>
          <ng-template #selected>
            <img
              src="../../../assets/icon/active.png"
              class="check-btn active-img"
            />
          </ng-template>
        </div>

        <div class="card-date text-color">
          {{ premium | date: "dd.MM.yy" }}
          <br />
          {{ premium | date: "EEEE":"":"tr" }} {{ premium | date: "HH:mm" }}
        </div>
      </div>
    </ion-item>
  </ion-col>
</ion-row>
