.title {
  text-align: center;
  font-size: 37px;
  padding-top: 10vh;
  color: #5e5e5e;
}
.input-container {
  padding: 10px;
  border-radius: 20px;
}
.label {
  padding-left: 12vw;
}

.first-button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: black;
}

.remember-me {
  text-align: center;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 11px;
}

.card-icon {
  position: absolute;
  top: 1.5vh;
  font-size: 30px;
}

.amount-icons {
  font-size: 20px;
  color: #e75761;
}

.sign-in-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.sign-options {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 10px;
}

.button-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
}
.btn-color {
  color: #e75761;
}

.toLowerCase {
  text-transform: lowercase;
}
