.title {
  text-align: center;
  font-size: 37px;
  padding-top: 10vh;
  color: #5e5e5e;
}
.input-container {
  padding: 10px;
  border-radius: 20px;
}
.label {
  padding-left: 12vw;
}

.card-icon {
  position: absolute;
  top: 3vh;
  font-size: 30px;
}

.amount-icons {
  font-size: 20px;
  color: #e75761;
}

.button-padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
}
.btn-color {
  color: #e75761;
}
