<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-text>
    <h1 class="title">hoş geldiniz</h1>
  </ion-text>

  <div class="input-container">
    <ion-list class="list">
      <ion-item>
        <ion-icon name="mail-sharp" class="icon icon-color"></ion-icon>
        <ion-label class="text-1rem"> e-mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div class="input-container">
    <ion-list class="list">
      <ion-item>
        <ion-icon name="lock-closed" class="icon icon-color"></ion-icon>
        <ion-label class="text-1rem"> parola</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div class="first-button-container">
    <ion-button fill="clear" shape="round">
      <ion-icon
        name="checkmark-circle-outline"
        class="btn-color icon"
      ></ion-icon>
      <p class="remember-me toLowerCase">beni hatırla</p>
    </ion-button>
    <ion-button
      fill="clear"
      shape="round"
      style="font-size: 0.8rem"
      class="toLowerCase"
      >parolamı hatırlamıyorum</ion-button
    >
  </div>

  <div class="button-padding">
    <ion-button
      (click)="navigateToAccount()"
      shape="round"
      expand="block"
      class="toLowerCase"
      >giriş yap</ion-button
    >
  </div>
  <div class="sign-in-buttons-container">
    <ion-button class="sign-btn" color="light"
      ><ion-icon name="logo-google" class="btn-color"> </ion-icon>
      <p class="sign-options toLowerCase">sign in with google</p>
    </ion-button>
    <ion-button class="sign-btn" color="light"
      ><ion-icon name="logo-facebook" class="btn-color"> </ion-icon>
      <p class="sign-options toLowerCase">sign in with facebook</p>
    </ion-button>
  </div>

  <div class="button-padding btn-color">
    <ion-button
      (click)="navigateToSignup()"
      shape="round"
      fill="outline"
      expand="block"
      color="primary"
      class="toLowerCase"
    >
      yeni hesap oluştur</ion-button
    >
  </div>
</ion-content>
