<!-- Header Component-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center">Mağaza Arayın </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Address Component-->
  <div class="address-container">
    <ion-list>
      <ion-item>
        <div class="address-bar">
          <ion-icon name="location" class="location-icon"></ion-icon>
        </div>
        <ion-label> Adres </ion-label>
        <ion-select>
          <ion-select-option
            *ngFor="let address of addressList"
            [value]="address"
            >{{address.first }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <!-- DatePicker Component-->
  <div class="date-container">
    <ion-label> Ne zaman alalım </ion-label>
    <ion-item-group>
      <div class="date-content">
        <ion-icon name="calendar" class="date-icon"></ion-icon>
        <div style="width: 80%">
          <ion-item>
            <ion-label>Gün</ion-label>
            <ion-datetime displayFormat="MMMM DD"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Saat</ion-label>
            <ion-datetime
              displayFormat="hh:mm A"
              minuteValues="0,15,30,45"
            ></ion-datetime>
          </ion-item>
        </div>
      </div>
    </ion-item-group>
  </div>

  <!-- Discount Component-->
  <div class="discount-container">
    <app-discount></app-discount>
    <div style="text-align: end">
      <button>tüm kampanyaları gör</button>
    </div>
  </div>

  <!-- Grid of Services-->
  <ion-row>
    <ion-col>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/camasirYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> çamaşır yıkama</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/terziTadilat.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> terzi tadilat</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/Utuleme.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> ütüleme</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/lostra.png" alt="temp" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> lostra</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/kuruTemizleme.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> kuru temizleme</ion-label>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="container">
          <img src="../../assets/images/haliYikama.png" class="image" />
          <div class="centered">
            <div class="grid-element">
              <ion-icon name="cut-outline" class="icon"> </ion-icon>
              <ion-label class="grid-label"> halı yıkama</ion-label>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- Search Buttons-->
  <div class="select-shop-container">
    <ion-button expand="block"
      >teslim alma için uygun mağazaları göster</ion-button
    >
  </div>

  <div class="search-container">
    <ion-button color="secondary">detaylı ara </ion-button>
  </div>
</ion-content>
