<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div>
    <ion-item lines="none" color="medium" class="title-container">
      <img
        src="../../../../assets/icon/profil/bildirim başlıkları.png"
        class="bildirim-baslik-icon"
      />
      <ion-label class="text-color bold-text">bildirim başlıkları</ion-label>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label"
        >ödeme alındı, siparişiniz onaylandı</ion-label
      >
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(0)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">teslim alma durumu</ion-label>
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(1)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">sipariş durumu</ion-label>
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(2)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">teslim etme durumu</ion-label>
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(3)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">adresinizdeyiz</ion-label>
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(4)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">genel kampanyalar</ion-label>
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(5)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">size özel promosyonlar</ion-label>
      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(6)"
      ></ion-checkbox>
    </ion-item>
    <ion-item lines="none" color="medium" class="item-container">
      <div>
        <ion-label class="text-color label">hatırlatıcılar</ion-label>
        <ion-label class="text-color reminder"
          >* planlanan siparişlerde bu özellik kapatılamaz</ion-label
        >
      </div>

      <ion-checkbox
        checked
        color="primary"
        slot="start"
        class="checkbox"
        (ionChange)="addToSelecedNotifications(7)"
      ></ion-checkbox>
    </ion-item>
  </div>
  <div>
    <ion-item lines="none" color="medium" class="title-container">
      <img
        src="../../../../assets/icon/profil/bildirim-filled.png"
        class="icon-2"
      />
      <ion-label class="text-color bold-text">bildirim kanalları</ion-label>
    </ion-item>

    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">mobil bildirimler</ion-label>
      <ion-toggle
        slot="start"
        name="blueberry"
        checked
        class="toggle"
        (ionChange)="mobileOption($event)"
      ></ion-toggle>
    </ion-item>

    <ion-item lines="none" color="medium" class="item-container">
      <ion-label class="text-color label">email bildirimler</ion-label>
      <ion-toggle
        slot="start"
        name="blueberry"
        checked
        class="toggle"
        (ionChange)="emailOption($event)"
      ></ion-toggle>
    </ion-item>
    <div style="padding: 1rem 0.5rem 1rem 0.5rem">
      <ion-button (click)="submit()" expand="block">
        ayarları kaydet</ion-button
      >
    </div>
  </div>
</ion-content>
