.item-container {
  padding: 0 0.5rem 0rem 0.5rem;
  --border-radius: 10px;
}
.text-color {
  color: gray;
}
.checkbox {
  --size: 1rem;
}

.label {
  font-size: 0.8rem;
}

.reminder {
  font-size: 0.5rem;
}
.title-container {
  padding-top: 2rem;
}
.toggle {
  height: 2rem;
  width: 3.5rem;
}
.bold-text {
  font-weight: bold;
}
.icon {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: black;
}

.bildirim-baslik-icon {
  width: 1.3rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
