.root {
  width: 100%;
  flex-wrap: wrap;
  align-content: space-between;
}
.button-padding {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.button-container {
  padding-bottom: 1rem;
  text-align: end;
  padding-right: 1rem;
}
.btn-clr {
  color: #cf4f87;
}

.new-order {
  width: 100%;
  padding: 1rem;
}
