<app-header headerTitle="{{pageTitle}}"></app-header>
<ion-content color="medium">
  <div class="button-padding">
    <ion-button (click)="allOrders()">tüm siparişler</ion-button>
    <ion-button (click)="currentOrders()" fill="outline" class="pink-color">
      planlanan siparişler</ion-button
    >
  </div>

  <div *ngIf="onlyDone; else all" style="height: 80%">
    <div *ngIf="liveOrders.length == 0; else nonEmpty" class="text-color">
      planlanan sipariş bulunmamaktadır
    </div>
    <ng-template #nonEmpty>
      <div *ngFor="let item of liveOrders" class="root">
        <app-order-card style="width: 100%" [order]="item"></app-order-card>
        <!--edit save buttons-->
        <div class="button-container">
          <ion-chip class="sec-bcg" (click)="editClicked()">
            <ion-icon class="white-text" name="pencil"></ion-icon>
            <ion-label class="white-text">düzenle</ion-label>
          </ion-chip>
          <ion-chip class="prm-bcg" (click)="deleteClicked() ">
            <ion-icon class="white-text" name="close"></ion-icon>
            <ion-label class="white-text">sil</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="new-order">
        <ion-button (click)="navigateToCreateOrder()" expand="block"
          >yeni sipariş oluştur</ion-button
        >
      </div>
    </ng-template>
  </div>

  <ng-template #all>
    <div *ngIf="orderList.length==0; else orders" class="text-color">
      eski sipariş bulunmamaktadır
    </div>
    <ng-template #orders>
      <div *ngFor="let item of orderList">
        <app-order-card [orderDone]="true" [order]="item"></app-order-card>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
