.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.button-padding {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.btn-clr {
  color: #eb4691;
}
.sec-bcg {
  --background: linear-gradient(-45deg, #e75761, #db5776, #cf4f87, #b84092);
}
.ter-bcg {
  --background: linear-gradient(-45deg, #ff9300, #ee5f5f);
}
.white-text {
  color: white;
}

.new-order {
  width: 100%;
  padding: 1rem;
}

.text-color {
  color: #5e5e5e;
}
