<app-header headerTitle="{{pageTitle}}"></app-header>
<ion-content color="medium">
  <div>
    <div class="button-padding">
      <ion-button (click)="allOrders()">tüm siparişler</ion-button>
      <ion-button (click)="currentOrders()" fill="outline" class="btn-clr">
        planlanan siparişler</ion-button
      >
    </div>

    <div *ngIf="onlyDone; else all">
      <app-order-card></app-order-card>
    </div>

    <ng-template #all>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card>
      <app-order-card></app-order-card>
    </ng-template>
  </div>
</ion-content>
