ion-list {
  margin-top: 0.2rem;
  position: relative;
  z-index: 10;
}

ion-slides {
  background: var(--ion-color-primary);
  ion-button {
    height: 7rem;
    width: 5rem;
  }
  top: var(--header-position);
  opacity: 0;
}

.ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
}

.active-category {
  --color: #fff;
  font-weight: bold;
  opacity: 1;
}

.cat-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.sepet-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}

.item-padding {
  --padding-top: 0.2rem;
  --padding-bottom: 0.2rem;
  --border-radius: 11px;
}

.store-menu-item {
  --padding-start: 10px;
}

.name-label {
  margin-left: 0.5rem;
  margin-top: 1.2rem;
}
.name-label-selected {
  margin-left: 0.5rem;
}

.add-btn {
  margin-top: 0.8rem;
}

.searchtoolbar {
  --background: var(--ion-color-primary);
}

.searchbar {
  --border-radius: 11px;
  padding: 0;
  --placeholder-color: #424242 !important;
  --icon-color: #424242 !important;
  --color: #424242 !important;
  --cancel-button-color: #424242 !important;
  --clear-button-color: #424242 !important;
  --background: #fff !important;
  --placeholder-opacity: 1 !important;
}

.cat-name-header {
  margin-bottom: 0.5rem;
  margin-top: 0px !important;
}

.item-img {
  max-width: 40px;
  max-height: 40px;
}

.bottom-btn-padding {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.cat-container {
  height: 100%;
  margin-top: 10px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ozel-istek {
  position: absolute;
  right: 11px;
  z-index: 1;
  top: 5;
  top: 80px;
  border-radius: 17px;
  height: 1.5rem;
}

.ozel-istek-label {
  margin-bottom: 1.1rem;
}

.ozel-istek-margin {
  margin-bottom: 1rem;
}

//Artı eksi adet
.amount-icons {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.amount-minus {
  width: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.amount-text {
  padding: 0 0.2rem 0 0.2rem;
}

.plus-minus-btn {
  --padding-end: 0rem;
  --padding-start: 0;
  --padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 2.5rem;
  align-self: center;
  align-content: center;
}

.disable-opacity {
  opacity: 0.7;
}

.spinner-container {
  justify-content: center;
  align-items: center;
  height: 75%;
  margin-left: 40%;
  margin-top: 10%;
}

.spinner-size {
  width: 60px;
  height: 60px;
}

.margin-top-6 {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

.half-item-name {
  display: flex;
  width: 45%;
  align-items: center;
}

.half-item-amount {
  display: flex;
  width: 55%;
  align-items: center;
}

.sepet-kat-isim {
  line-height: 1rem;
}

.badge {
  position: absolute;
  top: 25px;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
}

.sepet-btn {
  position: absolute;
  right: 0;
}
