<!-- ORDER DONE  -->
<ion-card
  *ngIf="orderDone; else notDone"
  class="card-container"
  [ngClass]="{ 'box-shadow ': details }"
>
  <ion-item button detail="false" lines="none" (click)="showDetails()">
    <div class="card-title-container">
      <!-- If order is not completed date and code is returned-->
      <div *ngIf="orderDone">
        <ion-label class="date-label"
          >{{ order.siparis_tarihi | date: "dd.MM.yyyy " }}
        </ion-label>
        <ion-label class="order-number-label"
          >A{{ order.siparis_id }}</ion-label
        >
        <!--Address is shown if order is not yet completed-->
      </div>
      <div *ngIf="!details; else detailOpen">
        <div class="text-tick-container">
          <img src="../../../assets/icon/checkbox-check.png" class="check" />
          <ion-label class="gray is-done-label"> tamamlandı </ion-label>
        </div>

        <ion-label class="total-cost">{{
          order.fiyat | fiyat: order.fiyat
        }}</ion-label>
      </div>
    </div>
    <ng-template #detailOpen>
      <div class="detail-open">
        <ion-label class="gray is-done-label">sipariş detayları</ion-label>
        <img src="../../../assets/icon/profil/arrow up.png" class="arrow-up" />
      </div>
    </ng-template>
  </ion-item>

  <ion-card-content *ngIf="details">
    <div *ngIf="orderDone">
      <div *ngFor="let detay of order.detaylar">
        <app-card-item
          [itemName]="detay.cins"
          [itemCost]="detay.fiyat"
          [itemIcon]="detay.resim"
        >
        </app-card-item>
      </div>
    </div>
    <hr class="rounded" />

    <!--Cost labels and fees-->
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col class="cost-labels black-text">
          <div>hizmet toplamı</div>
          <div>servis ücreti</div>
          <div *ngIf="order.indirim_tipi">
            {{ indirimAdlari[order.indirim_tipi] }}(%{{ order.indirim_orani }})
          </div>
          <div>kdv(%8)</div>
        </ion-col>
        <ion-col class="label-fee black-text">
          <div>36,11 tl</div>
          <div>{{ order.servis_tutari | fiyat: order.servis_tutari }}</div>
          <div *ngIf="order.indirim_tipi">
            {{ order.indirim_orani }}
          </div>
          <div>2,89 tl</div>
        </ion-col>
      </ion-row>
      <hr class="half-width-seperator" />
    </ion-grid>

    <!--Total Cost -->
    <ion-grid class="total-cost-grid">
      <ion-row>
        <ion-col> </ion-col>
        <ion-col class="cost-labels black-text">
          <div>toplam ödeme</div>
        </ion-col>
        <ion-col class="total-cost bold">
          <div>{{ order.fiyat | fiyat: order.fiyat }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- ORDER NOT DONE  -->
<ng-template #notDone>
  <ion-card class="card-container" [ngClass]="{ 'box-shadow ': details }">
    <ion-item button detail="false" lines="none" (click)="showDetails()">
      <div class="card-title-container">
        <div style="width: 50%">
          <div>
            <ion-label class="order-number-label"
              >A{{ order.siparis_id }}</ion-label
            >
          </div>
          <div>
            <ion-label style="font-size: 0.7rem; font-weight: bold">
              {{ order.siparis_tarihi | date: "d.M.yy EEEE HH:mm":"":"tr" }}
            </ion-label>
            <ion-text style="font-size: 0.6rem">
              <p>
                {{ order.teslim_alma_adresi }}
              </p>
            </ion-text>
          </div>
          <div *ngIf="!details; else downArrow" class="detail-close">
            <img
              src="../../../assets/icon/profil/arrow up.png"
              class="arrow-up"
            />
            <ion-label class="gray is-done-label">sipariş detayları</ion-label>
          </div>
          <ng-template #downArrow>
            <div class="detail-close">
              <img
                src="../../../assets/icon/profil/arrow down.png"
                class="arrow-up"
              />
              <ion-label class="gray is-done-label"
                >sipariş detayları</ion-label
              >
            </div>
          </ng-template>
        </div>
        <div>
          <ion-label class="gray is-done-label">{{
            orderStatus.isim
          }}</ion-label>

          <ion-label class="total-cost">{{
            order.fiyat | fiyat: order.fiyat
          }}</ion-label>
        </div>
      </div>
      <ng-template #detailOpen> </ng-template>
    </ion-item>

    <ion-card-content *ngIf="details">
      <div *ngFor="let detay of order.detaylar">
        <app-card-item
          [itemName]="detay.cins"
          [itemCost]="detay.fiyat"
          [itemIcon]="detay.resim"
          [type]="tipAdi[detay.tip]"
        >
        </app-card-item>
      </div>

      <hr class="rounded" />

      <!--Cost labels and fees-->
      <ion-grid>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col class="cost-labels black-text">
            <div>hizmet toplamı</div>
            <div>servis ücreti</div>
            <div *ngIf="order.indirim_tipi">
              {{ indirimAdlari[order.indirim_tipi] }}(%{{
                order.indirim_orani
              }})
            </div>
            <div>kdv(%8)</div>
          </ion-col>
          <ion-col class="label-fee black-text">
            <div>36,11 tl</div>
            <div>{{ order.servis_tutari | fiyat: order.servis_tutari }}</div>
            <div *ngIf="order.indirim_tipi">
              {{ order.indirim_orani }}
            </div>
            <div>2,89 tl</div>
          </ion-col>
        </ion-row>
        <hr class="half-width-seperator" />
      </ion-grid>

      <!--Total Cost -->
      <ion-grid class="total-cost-grid">
        <ion-row>
          <ion-col> </ion-col>
          <ion-col class="cost-labels black-text">
            <div>toplam ödeme</div>
          </ion-col>
          <ion-col class="total-cost bold">
            <div>{{ order.fiyat | fiyat: order.fiyat }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-template>
