<div class="card-padding">
  <div class="card-container container">
    <div class="card-items-content">
      <div class="flex">
        <ion-icon name="bed-outline" class="card-icon text-color"></ion-icon>
        <div style="padding-top: 10px">
          <ion-card-title class="card-text text-color"
            >{{ itemName }}
          </ion-card-title>
        </div>
        <ion-label class="text-color category-label">
          {{ itemCategory }}
        </ion-label>
      </div>
      <ion-card-subtitle class="store-item-card-text text-color toLowerCase">
        {{ itemCost }},00 tl
      </ion-card-subtitle>
    </div>
  </div>
</div>
