//card item
.card-container {
  border-radius: 20px;
  background-color: whitesmoke;
}
.card-padding {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.card-text {
  text-align: start;
  font-size: 0.6rem;
}

.card-items-content {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}

.text-color {
  color: #5e5e5e;
  font-family: "Avenir";
}
.container {
  height: 6vh;
  background-color: whitesmoke;
  padding: 5;
}

.card-icon {
  width: 3rem;
  height: 2.6rem;
  padding-top: 0.2rem;
  padding-right: 0.4rem;
}

.category-label {
  font-size: 0.7rem;
  font-weight: bold;
  align-self: flex-end;
  margin-left: 1rem;
}

.store-item-card-text {
  text-align: left;
  font-family: "Avenir";
  padding-right: 0.7rem;
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

.toLowerCase {
  text-transform: lowercase;
}
