//card item
.card-padding {
  padding-bottom: 0.5rem;
}
.card-title {
  padding-top: 0.4rem;
  padding-left: 0.5rem;
}
.card-text {
  text-align: start;
  font-size: 0.6rem;
}

.card-items-content {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}

.container {
  height: 5.4vh;
}

.card-icon {
  width: 2.4rem;
  height: 2rem;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}

.store-item-card-text {
  text-align: left;
  font-family: "Avenir";
  padding-right: 0.7rem;
  font-size: 0.7rem;
  padding-top: 0.2rem;
}

.delivery-date {
  text-align: right;
  padding-right: 0.7rem;
  font-size: 0.6rem;
  padding-top: 1.5rem;
}

.color {
  color: #eb4691;
}
