<div class="card-padding full-width-padding">
  <div class="container border-radius white-bg">
    <div class="card-items-content">
      <div class="flex">
        <div *ngIf="itemImage">
          <img
            [src]="itemImage"
            alt="Image Source"
            class="card-icon text-color"
          />
        </div>

        <div>
          <div class="card-title">
            <ion-card-title class="card-text text-color"
              >{{ itemName }}
            </ion-card-title>
            <ng-template #deliveyDate>
              <div class="text-color delivery-date">
                <div *ngIf="itemDeliveryDate">
                  <ion-text class="pink-color"
                    >{{ typeNames[itemType] }}
                  </ion-text>
                  <ion-text> teslimat </ion-text>
                  <div>
                    <ion-text>
                      {{
                        itemDeliveryDate | date: "d.M.yy EEEE HH:mm":"":"tr"
                      }}'a kadar teslim edilir
                    </ion-text>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div *ngIf="itemCost && !dateOverPrice; else deliveyDate">
        <ion-card-subtitle class="store-item-card-text text-color">
          {{ itemCost | fiyat: itemCost }}
        </ion-card-subtitle>
      </div>
    </div>
  </div>
</div>
