<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <div class="root">
    <div class="address-card-container">
      <app-address-card [address]="tempAddress"></app-address-card>
      <app-address-card [address]="tempAddress"></app-address-card>
      <div *ngFor="let address of adresList">
        <app-address-card [addres]="address"></app-address-card>
      </div>
    </div>

    <div class="new-address">
      <ion-button (click)="navigateToCreateAddress()" expand="block"
        >yeni adres ekle</ion-button
      >
    </div>
  </div>
</ion-content>
