<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <div class="root">
    <div class="address-card-container">
      <div *ngFor="let address of adresList">
        <app-address-card
          (deleteSuccess)="deleteSuccess()"
          [addres]="address"
        ></app-address-card>
      </div>
    </div>

    <div class="new-address">
      <ion-button
        (click)="navigateToCreateAddress()"
        expand="block"
        class="ion-button-block"
      >
        <img src="../assets/icon/button/create.png" class="add-icon" />
        <ion-label class="btn-label">yeni adres ekle </ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
