<style>
  .container {
    position: relative;
  }

  .image {
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 15px;
  }

  .text-block {
    position: absolute;
    bottom: 5px;
    right: 20px;
    background-color: black;
    opacity: 0.8;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 90%;
    text-align: right;
  }
  .amount {
    padding-top: 20px;
    font-size: 12px;
    color: rgb(241, 10, 106);
    line-height: 0;
  }
  .bank {
    font-size: 10px;
    line-height: 0;
  }
  .percentage {
    line-height: 0;
  }
</style>

<div class="container">
  <img
    src="../../../assets/images/tempKampanya.png"
    alt="DiscountBackground"
    class="image"
  />
  <div class="text-block">
    <p class="amount">
      {{ amount }}
    </p>
    <p class="bank">
      {{ bank }}
    </p>
    <p class="percentage">{{ percentage }} indirim</p>
  </div>
</div>
