<!-- Store Info -->
<div class="container-padding border-radius full-width-padding">
  <div class="relative container white-bg border-radius">
    <div class="content">
      <div style="display: flex">
        <ion-icon name="card-sharp" class="icon text-color"></ion-icon>
        <div style="padding-top: 0.4rem">
          <ion-card-subtitle class="card-title text-color">{{
            selectedIns.kurum_adi
          }}</ion-card-subtitle>
          <ion-card-title class="card-subtitle text-color">
            {{ selectedInsLocation }}
          </ion-card-title>
        </div>
      </div>

      <div *ngIf="selectedIns.favori > 0">
        <img src="../../../assets/icons/favs.png" class="fav-icon" />
      </div>
    </div>

    <div class="min-fee text-color">
      min sipariş tutarı
      {{
        selectedIns.min_siparis_tutari | fiyat: selectedIns.min_siparis_tutari
      }}
      <br />
      {{ selectedIns.min_servis_tutari | fiyat: selectedIns.min_servis_tutari }}
      ve üzeri siparişlerde ücretsiz servis
    </div>
  </div>
</div>
