.container-padding {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.relative {
  position: relative;
}
.container {
  height: 3.7rem;
}
.content {
  display: flex;
  justify-content: space-between;
}
.icon {
  font-size: 2rem;
  padding-top: 0.4rem;
  padding-right: 0.5rem;
}
.card-title {
  font-size: 0.7rem;
}
.card-subtitle {
  font-size: 0.6rem;
}
.min-fee {
  text-align: end;
  font-size: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.fav-icon {
  width: 1.5rem;
  height: 2rem;
}
