.toLowerCase {
  text-transform: lowercase;
}
.address-input {
  padding: 10px;
  --border-radius: 15px;
}
.input-container {
  padding-top: 5vh;
}

.button-padding {
  padding: 10px;
}

.btn-label {
  font-size: 12px;
  padding-top: 15px;
  padding-left: 5px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 6vw;
  padding-right: 6vw;
}

.btn-icon {
  font-size: 45px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(236, 82, 102);
}

.address-component {
  width: 75vw;
  --border-radius: 15px;
  padding: 20px;
}

.address-component-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5vh;
}

.address-icon {
  font-size: 20px;
}

.address-label {
  font-size: 14px;
}

.edit-delete-btn-container {
  display: grid;
  align-self: baseline;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
  padding-right: 20px;
}

.gray-text {
  color: gray;
}

.delete-btn {
  right: 0;
  position: absolute;
  top: 75px;
  padding-right: 20px;
}
