.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.delete-account-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
}

.log-out-btn {
  width: 100%;
  padding: 0rem 0.5rem 0.7rem 0.5rem;
}

.icon-padding {
  margin-right: 0.4rem;
}

.save-button-icon {
  width: 16px;
  height: 12px;
}
.edit-button-icon {
  width: 10px;
  height: 18px;
}
