.input-item {
  --border-radius: 20px;
  padding: 0.7rem 0.5rem 0rem 0.5rem;
}

.icon {
  font-size: 2rem;
}
.input-label {
  padding-left: 1.4rem;
  font-size: 0.8rem;
}
.text-color {
  color: #5e5e5e;
}
.bold-text {
  text-transform: bold;
}
.white-text {
  color: white;
}
.sec-bcg {
  --background: linear-gradient(-45deg, #ff9300, #ee5f5f);
}
.ter-bcg {
  --background: linear-gradient(-45deg, #ea8ed6, #7a81ff);
}
.log-out-btn {
  width: 100%;
  padding: 0rem 0.5rem 0.7rem 0.5rem;
}
