.date-adress-label {
  font-size: 1rem;
  font-weight: bold;
  text-align: end;
  padding: 1rem 1rem 0 0;
}

.seperator-width {
  width: 95%;
  margin: auto;
}
.checkbox {
  --size: 1rem;
  margin: 0.5rem;
}
.checkbox-text {
  font-size: 0.5rem;
}

.search-btn {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.relative {
  position: relative;
}

.select-btn {
  padding-right: 1.5rem;
  margin-top: 0.5rem;
  height: 1.8rem;
  position: absolute;
  top: 0rem;
  right: -0.5rem;
  z-index: 9;
  font-size: 1rem;
  width: 6rem;
  --border-radius: 7px;
  --padding-bottom: 3px;
}

.category-name {
  position: absolute;
  top: 1.3rem;
  right: 6.4rem;
  font-size: 0.5rem;
}

.added-filter-padding {
  padding-left: 25%;
}

.delete-col {
  width: 2rem;
  height: 2rem;
  --padding-start: 0;
  --padding-end: 0;
  padding: 0;
}

.icon {
  padding-bottom: 1rem;
}

.item-name {
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
}

.item-category {
  font-size: 0.6rem;
  text-align: right;
  padding: 0;
  margin: 0;
}

.checkbox-margin {
  height: 1.9rem;
  --padding-start: 0;
}
