<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--Address and Date-->
  <div class="date-adress-label text-color">
    <ion-label>adres ve tarih seçin</ion-label>
  </div>
  <ion-item lines="none" class="item-container">
    <ion-label class="gray-text">il</ion-label>
    <ionic-selectable
      [(ngModel)]="selectedProvince"
      [items]="provinceList"
      itemValueField="id"
      itemTextField="adi"
      [canSearch]="true"
      (onChange)="provinceChange($event)"
    >
    </ionic-selectable>
  </ion-item>

  <ion-item lines="none" class="item-container">
    <ion-label class="gray-text">ilçe</ion-label>
    <ionic-selectable
      [(ngModel)]="selectedDistrict"
      [items]="districtList"
      itemValueField="neighborhoodId"
      itemTextField="listName"
      [canSearch]="true"
      [hasVirtualScroll]="true"
      (onChange)="districtChange($event)"
    >
    </ionic-selectable>
  </ion-item>
  <app-date-field
    calenderTitle="ne zaman teslim alınsın"
    (selectedDate)="dateChange($event)"
    (selectedTime)="timeChange($event)"
  ></app-date-field>
  <app-date-field
    calenderTitle="ne zaman teslim edilsin"
    (selectedDate)="deliveryDateChange($event)"
    (selectedTime)="deliveryTimeChange($event)"
  ></app-date-field>

  <!--Search Service-->
  <div class="date-adress-label text-color">
    <ion-label>ürün/hizmet arayın</ion-label>
  </div>
  <ion-searchbar showCancelButton="focus" class="text-color"></ion-searchbar>
  <ion-infinite-scroll>
    <div class="relative">
      <app-store-item
        itemName="Nevresim Takımı Tek Kişilik"
        itemCategory="çamaşır yıkama"
      ></app-store-item>
      <ion-button class="select-btn" color="primary">seç</ion-button>
    </div>

    <div class="relative">
      <app-store-item
        itemName="Nevresim Takımı Tek Kişilik"
        itemCategory="ütüleme"
      ></app-store-item>
      <ion-button class="select-btn" color="primary">seç</ion-button>
    </div>

    <div class="relative">
      <app-store-item
        itemName="Nevresim Takımı Çift Kişilik"
        itemCategory="ütüleme"
      ></app-store-item>
      <ion-button class="select-btn" color="primary">seç</ion-button>
    </div>
  </ion-infinite-scroll>

  <!--Aramaya eklenen ürünler-->
  <div style="padding-top: 0.5rem">
    <hr class="rounded" />
  </div>
  <div class="date-adress-label text-color">
    <ion-label>aramaya eklenen ürünler</ion-label>
  </div>

  <ion-item
    button
    (click)="freeDelivery()"
    details="false"
    lines="none"
    color="medium"
    style="height: 1.9rem"
  >
    <ion-label class="text-color checkbox-text">ücretsiz teslimat</ion-label>
    <ion-checkbox class="checkbox" color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item
    button
    (click)="promosyon()"
    details="false"
    lines="none"
    color="medium"
    style="height: 1.9rem"
  >
    <ion-label class="text-color checkbox-text"
      >sadece promosyon olanları göster</ion-label
    >
    <ion-checkbox class="checkbox" color="primary" slot="start"></ion-checkbox>
  </ion-item>

  <div class="search-btn">
    <ion-button class="lowerCase" (click)="navigateToStoreList()" expand="block"
      >teslim alma için uygun mağazaları göster</ion-button
    >
  </div>
</ion-content>
