<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <!--Address and Date-->
  <div class="date-adress-label text-color">
    <ion-label>adres ve tarih seçin</ion-label>
  </div>

  <div *ngIf="!isLogged; else logged">
    <ion-item lines="none" class="item-container">
      <ion-label class="gray-text">il</ion-label>
      <ionic-selectable
        [(ngModel)]="selectedProvince"
        [items]="provinceList"
        itemValueField="id"
        itemTextField="adi"
        [canSearch]="true"
        (onChange)="provinceChange($event)"
      >
      </ionic-selectable>
    </ion-item>

    <ion-item lines="none" class="item-container">
      <ion-label class="gray-text">Mahalle</ion-label>
      <ionic-selectable
        [(ngModel)]="selectedDistrict"
        [items]="searchableDistrictList"
        itemValueField="mahalleId"
        itemTextField="listeAdi"
        [canSearch]="true"
        [hasVirtualScroll]="true"
        (onChange)="districtChange($event)"
      >
      </ionic-selectable>
    </ion-item>
  </div>
  <ng-template #logged>
    <app-adress-field (address)="addressChange($event)"></app-adress-field>
  </ng-template>

  <app-date-field
    calenderTitle="ne zaman teslim alınsın"
    (selectedDate)="dateChange($event)"
    (selectedTime)="timeChange($event)"
  ></app-date-field>
  <app-date-field
    calenderTitle="ne zaman teslim edilsin"
    (selectedDate)="deliveryDateChange($event)"
    (selectedTime)="deliveryTimeChange($event)"
    initialDate="true"
  ></app-date-field>

  <!--Search Service-->
  <div class="date-adress-label text-color">
    <ion-label>ürün/hizmet arayın</ion-label>
  </div>
  <ion-searchbar
    showCancelButton="focus"
    (ionChange)="searchText($event)"
    class="text-color"
    cancelButtonText="vazgeç"
    placeholder="ürün ara"
  ></ion-searchbar>
  <ion-infinite-scroll>
    <div *ngIf="searchResult!== [] && textInput">
      <div *ngFor="let item of searchResult.slice(0, 10)">
        <div class="relative">
          <app-store-item
            itemName="{{item.isim}}"
            itemCategory="{{item.kategori}}"
            itemImage="{{item.resim}}"
          ></app-store-item>
          <div>
            <ion-label class="category-name text-color"
              >{{itemCategoryName[item.kategori]}}</ion-label
            >
            <ion-button
              class="select-btn"
              color="primary"
              (click)="setSelected(item)"
              >seç</ion-button
            >
          </div>
        </div>
      </div>
    </div>
  </ion-infinite-scroll>

  <!--Aramaya eklenen ürünler-->
  <div style="padding-top: 0.5rem">
    <hr class="rounded" />
  </div>
  <div class="date-adress-label text-color">
    <ion-label>aramaya eklenen ürünler</ion-label>
    <div *ngIf="selectedSearchResult!==[]">
      <ion-grid>
        <div
          *ngFor="let item of selectedSearchResult"
          class="added-filter-padding"
        >
          <ion-row>
            <ion-col size="auto" style="padding: 0">
              <ion-item
                color="medium"
                button
                lines="none"
                detail="false"
                class="delete-col"
                (click)="deleteSelected(item)"
              >
                <ion-icon
                  class="text-color icon"
                  name="close-circle"
                ></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col style="padding: 0; text-align: left">
              <ion-label class="text-color item-name">{{item.isim}}</ion-label>
            </ion-col>
            <ion-col size="auto" style="padding: 0">
              <ion-label class="text-color item-category">
                {{itemCategoryName[item.kategori]}}
              </ion-label>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>

  <ion-item
    button
    (click)="freeDelivery()"
    details="false"
    lines="none"
    color="medium"
    style="height: 1.9rem"
  >
    <ion-label class="text-color checkbox-text">ücretsiz teslimat</ion-label>
    <ion-checkbox class="checkbox" color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item
    button
    (click)="promosyon()"
    details="false"
    lines="none"
    color="medium"
    style="height: 1.9rem"
  >
    <ion-label class="text-color checkbox-text"
      >sadece promosyon olanları göster</ion-label
    >
    <ion-checkbox class="checkbox" color="primary" slot="start"></ion-checkbox>
  </ion-item>

  <div class="search-btn">
    <ion-button
      class="lowerCase"
      [disabled]="!selectedDistrict && !selectedAddress"
      (click)="navigateToStoreList()"
      expand="block"
      >teslim alma için uygun mağazaları göster</ion-button
    >
  </div>
</ion-content>
