.date-adress-label {
  font-size: 1rem;
  font-weight: bold;
  text-align: end;
  padding: 1rem 1rem 0 0;
}

.rounded {
  border-top: 3px solid rgb(26, 25, 25);
  width: 85%;
  opacity: 0.8;
  margin: auto;
}
.checkbox {
  --size: 1rem;
  margin: 0.5rem;
}
.checkbox-text {
  font-size: 0.5rem;
}

.search-btn {
  padding-top: 3rem;
  padding: 3rem 1rem 3rem 1rem;
}

.relative {
  position: relative;
}

.select-btn {
  padding-right: 1.5rem;
  margin-top: 1rem;
  height: 1.5rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 9;
  font-size: 1rem;
}

.item-container {
  --border-radius: 20px;
  padding: 0.5rem;
}

.category-name {
  position: absolute;
  top: 2rem;
  right: 7rem;
  font-size: 0.5rem;
  color: black;
  font-weight: bold;
}

.added-filter-padding {
  padding-left: 25%;
}

.delete-col {
  width: 2rem;
  height: 2rem;
  --padding-start: 0;
  --padding-end: 0;
  padding: 0;
}

.icon {
  padding-bottom: 1rem;
}

.item-name {
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
}

.item-category {
  font-size: 0.6rem;
  text-align: right;
  padding: 0;
  margin: 0;
}
