.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.full-width {
  width: 100%;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #5e5e5e;
}
.list {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 10px;
}
.input-container {
  padding: 0.5rem;
}

.email-icon {
  width: 24px;
  height: 16px;
  margin-right: 10px;
  margin-top: 0.2rem;
}

.icon {
  width: 16px;
  height: 24px;
  margin-right: 15px;
  margin-left: 3px;
  margin-top: 0.6rem;
}

.google-fb-icon {
  width: 20px;
  height: 20px;
}

.text-1rem {
  font-size: 0.8rem;
  color: black;
}

.first-button-container {
  display: flex;
  justify-content: space-between;
  color: black;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 0.6rem;
}

.icon {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.sign-in-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.6rem 0rem 0.6rem;
}
.sign-options {
  padding-left: 0.4rem;
  padding-top: 0.8rem;
  font-size: 0.6rem;
  flex: 1;
}
.sign-btn {
  width: 9rem;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 2px #9e9c9c;
  --padding-start: 0.5rem;
}

.button-padding {
  padding: 2.5rem 0.5rem 0rem 0.5rem;
}
.btn-color {
  color: #ff2f92;
}

.toLowerCase {
  text-transform: lowercase;
}

.error-message {
  color: #5e5e5e;
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-top: 10px;
}
