<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title">sepet</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color=medium>
    <div *ngIf="sepet.length > 0 else sepetBos">
        <!-- STORE CARD -->
        <div class="full-width-padding store-card-container">
            <ion-card class="store-card full-width global-shadow ">
                <ion-item class="ion-item-inner-padding">
                    <img src="../../../assets/images/bilwash.png" class="store-img" />
                    <ion-label class="text-size8 bold-text">bil-wash <br> laundry</ion-label>
                    <div style="width: 40%;">
                        <ion-row>
                            <ion-label class="black-text text-size6 bold-text right-text"> teslimat tarihi </ion-label>
                        </ion-row>
                        <ion-row class="black-text text-size6 right-text"> 15 haz cts 08:00 - 10:00 </ion-row>
                    </div>
                </ion-item>
                <ion-card-content class="store-card-content">
                    <ion-row>
                        <ion-col size=2.3 class="black-text text-size6 bold-text "> teslim alma </ion-col>
                        <ion-col size=4 class="black-text text-size6"> 14 haz cts 08:00 - 10:00 </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>
        <!-- SEPET İÇERİĞİ -->
        <div>
            <div *ngFor="let item of sepet; let i = index;">
                <ion-list-header *ngIf="!sepet[i-1] || sepet[i-1].kategori_id != item.kategori_id">
                    <ion-label *ngIf="item.kategori_id!=0" class="text-size8 black-text cat-name-header">
                        {{itemCategoryName[item.kategori_id]}}
                    </ion-label>
                </ion-list-header>
                <ion-list color="medium" class="full-width-margin border-radius">
                    <div class="full-width-margin ">
                        <ion-item button detail="false" lines="none" class="store-menu-item item-padding ">
                            <div class="item-container">
                                <div style="display: flex;">
                                    <img [src]="item.hizmet_resmi" alt="Resim Hatası" class="item-img text-color" />
                                    <ion-label class="text-size8 text-color name-label lowercase">
                                        {{ item.hizmet_adi }}
                                    </ion-label>
                                </div>
                            </div>
                            <div class="amount-cost-container">
                                <ion-label class="text-size8 text-color amount-text">
                                    {{ item.adet }} adet
                                </ion-label>
                                <ion-label class="text-size10 pink-color">
                                    {{ item.fiyatlar[0].fiyat | fiyat: item.fiyatlar[0].fiyat }}
                                </ion-label>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </div>
        <div class=" full-width-padding">
            <!--Cost labels and fees-->
            <ion-grid>
                <ion-row>
                    <ion-col> </ion-col>
                    <ion-col class="label-fee text-color text-size6">
                        <div>kdv(%8)</div>
                        <div>teslimat</div>
                    </ion-col>
                    <ion-col class="label-fee text-color text-size6">
                        <div>
                            {{0 | fiyat:0}}
                        </div>
                        <div>
                            {{0| fiyat:0 }}
                        </div>
                    </ion-col>
                </ion-row>
                <hr class="half-width-seperator" />
            </ion-grid>
            <!--Total Cost -->
            <ion-grid>
                <ion-row>
                    <ion-col> </ion-col>
                    <ion-col class="bold-text text-color total-cost text-size6"> toplam ödeme </ion-col>
                    <ion-col class="bold-text pink-color total-cost text-size10">
                        {{112 | fiyat:112 }}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div>
            <ion-item lines="none" class="input-item my-4">
                <div class="input-label full-width text-size6">
                    <ion-label class="text-color"> sipariş notu</ion-label>
                    <ion-input value="{{not}}" (ionChange)="notChange($event)" style="--padding-bottom: 0">
                    </ion-input>
                </div>
            </ion-item>
            <!--Sign up / add address container-->
            <div *ngIf="!isLogged; else logged">
                <div class="text-size8 text-color center-text login-container"> ödeme yapabilmek için lütfen kullanıcı girişi yapın </div>
                <div>
                    <ion-button (click)="navigateToLogin()" expand="block" class="ion-button-block">giriş yap</ion-button>
                </div>
                <div>
                    <ion-button (click)="navigateToSignup()" fill="outline" expand="block" class="ion-button-block pink-color"> yeni hesap oluştur</ion-button>
                </div>
            </div>
            <ng-template #logged>
                <div class="my-2">
                    <div>
                        <ion-button (click)="navigateToPayment()" class="ion-button-block" expand="block">ödeme yap</ion-button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <ng-template #sepetBos>
        <ion-label class="text-color text-size10 center-text"> SEPET BOŞ </ion-label>
    </ng-template>
</ion-content>
