.label-size {
  font-size: 0.6rem;
}
.input-icon {
  margin-top: 0.2rem;
  font-size: 1.4rem;
}
.item-container {
  --border-radius: 20px;
  padding: 0.5rem;
}
.input-text {
  font-size: 0.6rem;
}
.white {
  color: white;
}

.gray-text {
  color: gray;
}

.new-address {
  width: 100%;
  padding: 1rem;
}
.root {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
