/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Custom imports
@import "./assets/scss/colors.scss";
@import "./assets/scss/input-item.scss";
@import "./assets/scss/ion-chip.scss";
@import "./assets/scss/crud-buttons.scss";
@import "./assets/scss/header.scss";
@import "./assets/scss/icons-btns.scss";
$radius: 11px;

@font-face {
  font-family: "Avenir"; //This is what we are going to call
  src: url("./assets/TT-Norms-Fonts/TTNorms-Regular.otf");
}

ion-tab-button {
  --padding-start: 0;
  --padding-end: 0;
}

ion-card-content {
  padding-top: 5px !important;
}

.border-radius {
  border-radius: $radius;
}
.item-border-radius {
  --border-radius: $radius;
}

.bold-text {
  font-weight: bold;
}
.lowercase {
  text-transform: lowercase;
}

.full-width-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.full-width-margin {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.full-width {
  width: 100%;
}

.half-width-seperator {
  width: 50vw;
  border-top: 2px solid rgb(36, 35, 35);
  border-radius: 1px;
  opacity: 0.7;
  float: right;
  margin: 0;
}

.rounded {
  border-top: 2px solid rgb(36, 35, 35);
  border-radius: 1px;
  opacity: 0.5;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
