<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="header-title">sepet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <!-- If no store is selected -->
    <div *ngIf="cardItems.length == 0 else storeSelected">
        <ion-label class="text-color"> Sepet Boş</ion-label>
    </div>

    <ng-template #storeSelected>
        <!-- Store Info -->
        <app-store-info-card [selectedIns]="selectedIns" [selectedInsLocation]="insLocation">
        </app-store-info-card>

        <!-- Card Contents -->
        <div class="card-padding full-width-padding">
            <ion-card-content scrollY="true" class="card-container white-bg border-radius">
                <div *ngFor="let item of cardItems">
                    <ion-item button lines="none" detail="false" class="card-item-container" (click)="navigateToStoreMenu(item)">
                        <app-card-item itemName="{{item.cins_adi}}" itemCost="{{item.fiyatlar[item.secilenTip - 1].fiyat * item.adet}}" type="{{item.secilenTip}}" deliveryDate="{{item.teslimatTarihi}} " amount="{{item.adet}}" itemIcon="{{item.cins_resmi}}" style="width: 100%">
                        </app-card-item>
                    </ion-item>
                    <hr class="rounded" />
                </div>

                <!--Cost labels and fees-->
                <ion-grid>
                    <ion-row>
                        <ion-col> </ion-col>
                        <ion-col class="cost-labels text-color">
                            <div>kdv(%8)</div>
                            <div>teslimat</div>
                        </ion-col>
                        <ion-col class="label-fee text-color">
                            <div>
                                {{currentCardCostContent.totalTax | fiyat:currentCardCostContent.totalTax }}
                            </div>
                            <div>
                                {{currentCardCostContent.totalDeliveryFee | fiyat:currentCardCostContent.totalDeliveryFee }}
                            </div>
                        </ion-col>
                    </ion-row>
                    <hr class="half-width-seperator" />
                </ion-grid>

                <!--Total Cost -->
                <ion-grid class="total-cost-grid">
                    <ion-row>
                        <ion-col> </ion-col>
                        <ion-col class="cost-labels text-color">
                            <div>toplam ödeme</div>
                        </ion-col>
                        <ion-col class="total-cost pink-color">
                            <div>
                                {{currentCardCostContent.total + currentCardCostContent.totalTax | fiyat:currentCardCostContent.total + currentCardCostContent.totalTax }}
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </div>

        <!-- Footnote for order-->
        <div *ngIf="currentCardCostContent.total< selectedIns.min_servis_tutari" class="footnote-order text-color">
            sepetinize
            <b>{{selectedIns.min_servis_tutari - currentCardCostContent.total}}tl</b
      >’lik ürün daha ekleyerek <b> ücretsiz servis </b>
            <br /> hizmetinden faydalanabilirsiniz
        </div>

        <div>
            <!--Sign up / add address container-->
            <div *ngIf="!isLogged; else logged">
                <div class="signup-buttons-container text-color">
                    teslimat adresi ekleyebilmek ve ödeme
                    <br /> yapabilmek için lütfen kullanıcı girişi yapın
                </div>
                <div class="button-padding">
                    <ion-button (click)="navigateToLogin()" expand="block">giriş yap</ion-button>
                </div>
                <div class="pay-btn text-color">
                    <ion-button (click)="navigateToSignup()" fill="outline" expand="block" class="btn-clr">
                        yeni hesap oluştur</ion-button>
                </div>
            </div>

            <ng-template #logged>
                <div style="padding-top: 1.5rem">
                    <ion-item lines="none" class="input-item">
                        <img src="../../../assets/icons/filled/calendar_icon_filled.png" class="date-icon" />
                        <div class="input-label full-width">
                            <ion-label class="text-color"> sipariş notu</ion-label>
                            <ion-input value="{{not}}" (ionChange)="notChange($event)" style="--padding-bottom: 0">
                            </ion-input>
                        </div>
                    </ion-item>
                    <ion-item lines="none" class="input-item">
                        <img src="../../../assets/icons/filled/location_icon_filled.png" class="location-icon location-margin" />

                        <div class="input-label full-width">
                            <ion-label class="text-color"> adres</ion-label>
                            <div>{{insLocation}}</div>
                        </div>
                    </ion-item>

                    <ion-item lines="none" class="input-item item-border-radius width-75">
                        <img src="../../../assets/icons/filled/calendar_icon_filled.png" class="date-icon" />

                        <div class="input-label">
                            <ion-label class="text-color"> teslim alma zamanı</ion-label>
                            <ion-label>{{ dateTime | date: "d.M.yy EEEE HH:mm":'':'tr'}}</ion-label>
                        </div>
                    </ion-item>

                    <div class="pay-btn">
                        <ion-button (click)="navigateToPayment()" class="ion-button-block" expand="block">ödeme yap</ion-button>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
</ion-content>