.bottom-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.container-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.card-border-radius {
  border-radius: 20px;
}
.relative {
  position: relative;
}
.container {
  height: 4rem;
  background-color: whitesmoke;
  padding: 5;
}
.content {
  display: flex;
  justify-content: space-between;
}
.icon {
  font-size: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;
}
.card-title {
  font-size: 0.6rem;
}
.card-subtitle {
  font-size: 0.5rem;
}
.min-fee {
  text-align: end;
  font-size: 0.5rem;
  position: absolute;
  right: 1rem;
  bottom: 0vh;
}
.cost-labels {
  text-align: right;
  font-size: 0.5rem;
  font-weight: bold;
}

.label-fee {
  text-align: right;
  font-size: 0.5rem;
  font-weight: bold;
}

.text-color {
  color: gray;
}
.half-width-seperator {
  width: 50vw;
  border-top: 2px solid rgb(36, 35, 35);
  border-radius: 1px;
  opacity: 0.7;
  float: right;
  margin: 0;
}
.total-cost {
  text-align: right;
  font-size: 1.2rem;
  color: #eb4691;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.card-container {
  --border-radius: 20px;
  height: 19rem;
  --background: whitesmoke;
}
.card-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.rounded {
  border-top: 2px solid rgb(116, 114, 114);
  border-radius: 1px;
  opacity: 0.5;
  margin: 0rem;
  margin-bottom: 0.5rem;
}
.total-cost-grid {
  display: block;
}
.footnote-order {
  text-align: end;
  font-size: 0.5rem;
  padding-right: 1.5rem;
}
.signup-buttons-container {
  padding-top: 3rem;
  text-align: center;
  font-size: 0.5rem;
}
.button-padding {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
}
.lowerCase {
  text-transform: lowercase;
}
.pay-btn {
  padding: 1rem;
}

.btn-clr {
  color: #e75761;
}
.card-item-container {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --padding-top: 0.3rem;
  --background: whitesmoke;
}

.input-item {
  --border-radius: 20px;
  padding: 0.7rem 0.5rem 0rem 0.5rem;
}

.adres-icon {
  font-size: 2rem;
}
.input-label {
  padding-left: 1.4rem;
  font-size: 0.8rem;
  width: 100%;
}
.text-color {
  color: #5e5e5e;
}
.primary-color {
  color: #e75761;
}

.input-item {
  --border-radius: 20px;
  padding: 0.7rem 0.5rem 0rem 0.5rem;
}

.note-icon {
  font-size: 2rem;
}
.input-label {
  padding-left: 1.4rem;
  font-size: 0.8rem;
  width: 100%;
}

.fav-icon {
  width: 1.5rem;
  height: 2rem;
}
