<app-header headerTitle="{{title}}"></app-header>

<ion-content color="medium">
  <!-- If no store is selected -->
  <div *ngIf="cardItems.length == 0 else storeSelected">
    <ion-label class="text-color"> Sepet Boş</ion-label>
  </div>

  <ng-template #storeSelected>
    <!-- Store Info -->
    <div class="container-padding card-border-radius">
      <div class="relative container card-border-radius">
        <div class="content">
          <ion-icon name="card-sharp" class="icon text-color"></ion-icon>
          <div style="padding-top: 15px">
            <ion-card-subtitle class="card-title text-color"
              >{{ selectedIns.kurum_adi }}</ion-card-subtitle
            >
            <ion-card-title class="card-subtitle text-color">
              {{ insLocation }}
            </ion-card-title>
          </div>
        </div>

        <div class="min-fee text-color">
          min sipariş tutarı {{ selectedIns.min_siparis_tutari }},00tl
          <br />
          {{selectedIns.min_servis_tutari}} ,00tl ve üzeri siparişlerde ücretsiz
          servis
        </div>
      </div>
    </div>

    <!-- Card Contents -->
    <div class="card-padding">
      <ion-content scrollY="true" class="card-container container">
        <div *ngFor="let item of cardItems">
          <ion-item
            button
            lines="none"
            detail="false"
            class="card-item-container"
            (click)="navigateToStoreMenu(item)"
          >
            <app-card-item
              itemName="{{item.cins_adi}}"
              itemCost="{{item.fiyatlar[item.secilenTip - 1].fiyat * item.adet}}"
              type="{{item.secilenTip}}"
              deliveryDate="{{item.teslimatTarihi}} "
              amount="{{item.adet}}"
              itemIcon="{{item.cins_resmi}}"
              style="width: 100%"
            >
            </app-card-item>
          </ion-item>
          <hr class="rounded" />
        </div>

        <!--Cost labels and fees-->
        <ion-grid>
          <ion-row>
            <ion-col> </ion-col>
            <ion-col class="cost-labels text-color">
              <div>kdv(%8)</div>
              <div>teslimat</div>
            </ion-col>
            <ion-col class="label-fee text-color">
              <div>{{currentCardCostContent.totalTax}} tl</div>
              <div>{{currentCardCostContent.totalDeliveryFee}} tl</div>
            </ion-col>
          </ion-row>
          <hr class="half-width-seperator" />
        </ion-grid>

        <!--Total Cost -->
        <ion-grid class="total-cost-grid">
          <ion-row>
            <ion-col> </ion-col>
            <ion-col class="cost-labels text-color">
              <div>toplam ödeme</div>
            </ion-col>
            <ion-col class="total-cost">
              <div>
                {{currentCardCostContent.total +
                currentCardCostContent.totalTax}} tl
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>

    <!-- Footnote for order-->
    <div
      *ngIf="currentCardCostContent.total< selectedIns.min_servis_tutari"
      class="footnote-order text-color"
    >
      sepetinize
      <b>{{selectedIns.min_servis_tutari - currentCardCostContent.total}}tl</b
      >’lik ürün daha ekleyerek <b> ücretsiz servis </b>
      <br />
      hizmetinden faydalanabilirsiniz
    </div>

    <div>
      <!--Sign up / add address container-->
      <div *ngIf="!isLogged; else logged">
        <div class="signup-buttons-container text-color">
          teslimat adresi ekleyebilmek ve ödeme
          <br />
          yapabilmek için lütfen kullanıcı girişi yapın
        </div>
        <div class="button-padding">
          <ion-button (click)="navigateToLogin()" expand="block"
            >giriş yap</ion-button
          >
        </div>
        <div class="button-padding text-color">
          <ion-button
            (click)="navigateToSignup()"
            fill="outline"
            expand="block"
            class="btn-clr"
          >
            yeni hesap oluştur</ion-button
          >
        </div>
      </div>

      <ng-template #logged>
        <div style="padding-top: 1.5rem">
          <ion-item lines="none" class="input-item">
            <ion-icon name="create" class="note-icon text-color"></ion-icon>
            <div class="input-label">
              <ion-label class="text-color"> sipariş notu</ion-label>
              <ion-input value="{{not}}" (ionChange)="notChange($event)">
              </ion-input>
            </div>
          </ion-item>
          <ion-item lines="none" class="input-item">
            <ion-icon
              name="location"
              class="adres-icon primary-color"
            ></ion-icon>
            <div class="input-label">
              <ion-label class="text-color"> adres</ion-label>
              <div>{{insLocation}}</div>
            </div>
          </ion-item>

          <ion-item lines="none" class="input-item">
            <ion-icon
              name="calendar"
              class="adres-icon primary-color"
            ></ion-icon>
            <div class="input-label">
              <ion-label class="text-color"> teslim alma zamanı</ion-label>
              <div>{{ dateTime | date: "d.M.yy EEEE HH:mm":'':'tr'}}</div>
            </div>
          </ion-item>

          <div class="pay-btn">
            <ion-button
              (click)="navigateToPayment()"
              class="lowerCase"
              expand="block"
              >ödeme yap</ion-button
            >
          </div>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ion-content>
