<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div>
    <ion-chip class="container">
      <div style="display: flex">
        <img
          src="../../../../assets/icon/profil/nasıl çalışıyoruz.png"
          class="icon"
        />
        <ion-label class="label text-color bold-text"
          >nasıl çalışıyoruz ?</ion-label
        >
      </div>
      <div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </div>
    </ion-chip>

    <ion-chip class="container">
      <div style="display: flex">
        <ion-icon color="danger" class="icon" name="help-sharp"></ion-icon>
        <ion-label class="label text-color bold-text"
          >laundrative nasıl kullanılır ?</ion-label
        >
      </div>
      <div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </div>
    </ion-chip>

    <ion-chip class="container" (click)="messagePressed()">
      <div style="display: flex">
        <img
          src="../../../../assets/icon/profil/mesaj gönderin.png"
          class="message-icon"
        />
        <ion-label class="label text-color bold-text">mesaj gönderin</ion-label>
      </div>
      <div *ngIf="!showMessage else downArrow">
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </div>
      <ng-template #downArrow>
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </ng-template>
    </ion-chip>

    <!--Message container-->
    <div *ngIf="showMessage">
      <ion-item lines="none" class="item-container">
        <ion-input
          class="input-text gray-text"
          placeholder="konu"
          value="{{subject}}"
          (ionChange)="subjectChange($event)"
        ></ion-input>
      </ion-item>
      <ion-item lines="none" class="item-container">
        <ion-textarea
          rows="4"
          class="input-text gray-text"
          placeholder="mesaj"
          value="{{message}}"
          (ionChange)="mesaageChange($event)"
        ></ion-textarea>
      </ion-item>

      <div class="send-btn">
        <ion-button (click)="sendMessage()"> gönder</ion-button>
      </div>
    </div>

    <ion-chip class="container">
      <div style="display: flex">
        <img
          src="../../../../assets/icon/profil/bize ulaşın.png"
          class="message-icon"
        />
        <ion-label class="label text-color bold-text">sizi arayalım</ion-label>
      </div>
      <div>
        <ion-icon class="text-color" name="chevron-forward-sharp"></ion-icon>
      </div>
    </ion-chip>
  </div>
</ion-content>
