.container {
  width: 95%;
  height: 3rem;
  background-color: white;
  margin: 1.3rem 0.5rem 0 0.5rem;
  justify-content: space-between;
}
.arrow-icon {
  width: 0.9rem;
  height: 1.5rem;
}
.label {
  font-size: 0.8rem;
  padding-top: 0.2rem;
}

.bold-text {
  font-weight: bold;
}

.item-container {
  --border-radius: 10px;
  padding: 0.5rem;
}
.input-text {
  font-size: 0.9rem;
}

.send-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.icon-1 {
  width: 19px;
  height: 19px;
}

.icon-2 {
  width: 19px;
  height: 29px;
}

.icon-3 {
  width: 21px;
  height: 13px;
}

.icon-4 {
  width: 21px;
  height: 21px;
}

.margin-right {
  margin-right: 0.5rem;
}
