.message-container {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
  height: 7rem;
  background-color: white;
}
.total-container {
  display: flex;
  padding: 1rem;
}
.total-text {
  width: 65%;
  text-align: end;
  padding: 0.5rem;
}
.total-cost {
  flex: 1;
  text-align: center;
}

.black-color {
  color: black;
}
.title {
  font-weight: bold;
  font-size: 1rem;
}
.cost {
  font-size: 1.5rem;
  margin: 1rem;
  color: #eb4691;
  font-weight: bold;
}
.cost-label {
  font-size: 0.7rem;
  text-align: start;
  margin-left: 1rem;
}
.button-padding {
  padding: 1rem;
  padding-top: 4rem;
}
.btn-color {
  color: #e75761;
  margin-top: 2rem;
}
